<md-dialog-content>
  <div class="relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>



    <h2 class="fsz20 c1 fw700 tac ttu pall20">
      {{ 'all_who_will_come' | translate }}
    </h2>

    <div *ngIf="event.is_owner" class="wp-btw_start">
      <div class="w100p">
        <md-tab-group>
          <md-tab label="{{ 'confirmed' | translate }}">
            <div class="pall20">
              <a *ngFor="let user of event.confirmed" [routerLink]="['/user', user.user_secure_id]" md-dialog-close href="" class="p-box-g mh5">
                <div *ngIf="user.status != 'temp'" class="h100p">
                  <span class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
                  <span class="p-box-g-exit"><img src="../assets/i/icons/exit.png" alt=""></span>
                </div>
              </a>
            </div>
          </md-tab>

          <md-tab label="{{ 'waiting' | translate }}">
            <div class="pall20">
              <div *ngFor="let user of event.waiting" class="p-box-g mh5">
                <a [routerLink]="['/user', user.user_secure_id]" md-dialog-close href="" class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></a>

                <span *ngIf="user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="i/icons/king.png" alt=""></span>
                <span *ngIf="user.account_type == 'premium'" class="p-box-d-user-king"><img src="i/icons/king.png" alt=""></span>

                <button
                  mdTooltip="{{'confirm' | translate}}"
                  [mdTooltipPosition]="'above'"
                  (click)="addParticipation(user.participation_secure_id, 'maker_confirmed');disableBtn($event)"
                  *ngIf="event.is_owner" class="p-box-g-ac">
                  &#x2713;
                </button>

                <button
                  mdTooltip="{{'refuse' | translate}}"
                  [mdTooltipPosition]="'above'"
                  (click)="addParticipation(user.participation_secure_id, 'maker_refused');disableBtn($event)"
                  class="p-box-g-cc">
                  X
                </button>
              </div>
            </div>
          </md-tab>
        </md-tab-group>
      </div>
    </div>

    <div *ngIf="!event.is_owner" class="wp-btw_start ph40 pb40">
      <a [routerLink]="['/user', user.user_secure_id]" md-dialog-close href="" *ngFor="let user of event.confirmed" class="p-box-g mall5">
        <span class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
        <span class="p-box-g-exit"><img src="../assets/i/icons/exit.png" alt=""></span>
      </a>
      <a [routerLink]="['/user', user.user_secure_id]" md-dialog-close href="" *ngFor="let user of event.waiting" class="p-box-g mall5">
        <span class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
        <span class="p-box-g-exit"><img src="../assets/i/icons/exit.png" alt=""></span>
      </a>
    </div>
  </div>
</md-dialog-content>
