<md-dialog-content class="h100p">
  <div class="tac pall20 relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div class="ttu c1 fsz16 mb15">
      {{ 'stream_your_party' | translate }}
    </div>
    <div class="mb10">
      {{ 'type_in_your_Periscope_id_and' | translate }}
    </div>


    <div class="mb10">
      <md-input-container class="w100p">
        <input [(ngModel)]="periscope_id" #periscope="ngModel" name="periscope" required mdInput placeholder="{{'your_periscope_id' | translate }}" type="text">

        <span class="z-in-err" *ngIf="periscope.errors && (periscope.dirty || periscope.touched)">
              {{ 'this_is_required' | translate }}
            </span>
      </md-input-container>
    </div>


    <button [ngClass]="{inactive: !periscope_id}" md-button (click)="liveCam()" class="md-raised md-primary bg3">
      {{ 'send' | translate }}
    </button>
  </div>
</md-dialog-content>
