<div class="mb45">
  <h2 class="c5 ttu fsz12 wp-btw_cen">
              <span [ngClass]="{inactive: !filter.isActive}">
                  {{ 'age_range' | translate }}
              </span>

    <md-slide-toggle
      class="mn"
      [(ngModel)]="filter.isActive"
      (ngModelChange)="onSlideEmit()">
    </md-slide-toggle>
  </h2>

  <nouislider
    class="yellow"
    [ngClass]="{inactive: !filter.isActive}"
    (ngModelChange)="onSlideEmit()"
    [config]="config"
    [(ngModel)]="filter.val"></nouislider>
</div>
