<div *ngIf="isHomePage" class="slogan">{{ 'find_your_partys_wherever_you_go' | translate }}</div>

<div class="shadow-top"></div>


<a *ngIf="!isHomePage" [routerLink]="['/']" class="mobile-link p-btn-i-img" [inlineSVG]="'../assets/i/svg/home.svg'"></a>

<div class="logo">
  <a [routerLink]="['/']" class="link"><img src="../assets/i/icons/logo.png" alt=""></a>
  <button class="play" [ngClass]="{active: !controls.isPaused}" (click)="toggleVideo()"></button>
  <button class="unmute" [ngClass]="{active: controls.isMuted}" (click)="toggleSound()"><span></span></button>
</div>

<div class="menu">
  <button id="user-intro-three" (click)="creditsPop()" *ngIf="!isHomePage && O4PUser.loggedIn" class="dibM mr20">
    <img class="dibM mr10" src="../assets/i/icons/wallet.png" alt="">
    <span class="dibM cw">{{O4PUser.user.wallet || 0 | number: '1.2-2'}} &#8364;</span>
  </button>

  <button id="home-intro-seven" (click)="notiPop()" class="noti">
    <svg class="noti-svg" height="28" viewBox="0 0 20 24" width="28">
      <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"></path>
    </svg>
    <span *ngIf="O4PUser.total_notifications > 0" class="noti-num">{{O4PUser.total_notifications}}</span>
  </button>

  <button id="home-intro-one" (click)="menuPop()" class="p-user ml20">
    <span [ngStyle]="{'background': 'url(' + (O4PUser.user.image || '../assets/i/icons/user.png') + ') center no-repeat'}" class="p-user-ava"></span>
  </button>
</div>

