.noti{
  margin-right: 20px;
  position: relative;
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  &-svg{
    width: 100%;
    height: 100%;
    path{
      fill: #ff1644;
    }
  }

  &-num{
    position: absolute;
    right: -8px;
    bottom: 2px;
    font-size: 12px;
    color: white;
    line-height: 17px;
    background: #ff1644;
    width: 17px;
    height: 17px;
    border-radius: 50%;
  }
}


.slogan{
  font-size: 36px;
  font-weight: 100;
  position: absolute;
  z-index: 2;
  top: 128px;
  left: 121px;
  background: #ffeb3b;
  color: #000;
  padding: 14px 85px 14px 19px;
  letter-spacing: 1.1px;
  display: inline-block;
  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 60px 0 0;
    border-color: #f9a825 transparent transparent transparent;
  }
}


.shadow-top{
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 200px 40px #000;
}


.logo{
  position: absolute;
  z-index: 2;
  left: 59px;
  top: 31px;
}


.menu{
  position: absolute;
  z-index: 3;
  right: 34px;
  top: 28px;

  &-pop{
    overflow-y: scroll;
    position: fixed;
    z-index: 3;
    right: -330px;
    top: 0;
    bottom: 0;
    width: 330px;
    height: 100%;
    padding: 0 0 60px 0;
    background: #262626;
    display: none;
    transition: all 200ms linear;
    &-head{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-user{
      text-align: center;
      padding: 34px 0 31px;
      &-ava{
        margin: 0 auto 12px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-size: cover !important;
      }
      &-name{
        font-size: 18px;
        color: white;
        margin: 0 0 4px;
      }
      &-mail{
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &-partners{
      font-weight: 700;
      padding: 55px 0 31px;
      text-align: center;
      &-link{
        display: inline-block;
        opacity: .3;
        margin: 52px auto;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transition: all 200ms linear;
        &:hover{
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }

    &-footer{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 25px 15px 19px;
      background: #1c1c1c;
    }

    &.active{
      right: 0;
      display: block;
    }
  }
}


.link{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}


.play{
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
  margin: 5px 0 0 20px;
  background: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid #ff1644;
  border-bottom: 8px solid transparent;
  transition: initial;
  &.active{
    width: 12px;
    height: 16px;
    border: none;
    border-right: 4px solid #ff1644;
    border-left: 4px solid #ff1644;
  }
}


.unmute{
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
  margin: 4px 0 0 20px;
  position: relative;
  height: 30px;
  width: 30px;
  overflow: hidden;
  display: inline-block;
  background: none;

  span {
    display: block;
    width: 8px;
    height: 8px;
    background: #ff1644;
    margin: 12px 0;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent #ff1644 transparent transparent;
      border-width: 10px 14px 10px 15px;
      left: -16px;
      top: 6px;
    }

    &:before {
      content: '';
      transform: rotate(45deg);
      border-radius: 0 50px 0 0;
      position: absolute;
      width: 5px;
      height: 5px;
      border-style: double;
      border-color: #ff1644;
      border-width: 7px 7px 0 0;
      left: 15px;
      top: 10px;
      transition: all 0.2s ease-out;
    }
  }

  &:hover {

    span:before {
      transform: scale(.8) translate(-3px, 0) rotate(42deg);
    }
  }

  &.active {
    span:before {
      transform: scale(.5) translate(-15px, 0) rotate(36deg);
      opacity: 0;
    }
  }
}


.mobile-link{
  position: absolute;
  left: 15px;
  top: 15px;
  display: none;
}


@media all and (max-width: 1700px) {
  .slogan {
    font-size: 24px;
    padding: 8px 50px 8px 15px;
  }
}

@media all and (max-width: 1320px) {
  .slogan {
    font-size: 22px;
  }
}

@media all and (max-width: 1279px) {
  .logo {
    left: 20px;
    top: 20px;
  }

  .slogan {
    top: 105px;
    left: 25px;
    font-size: 16px;
    padding: 8px 30px 9px 15px;
  }
}

@media all and (max-width: 1023px) {
  .slogan, .fb, .logo, .shadow-top, .play, .unmute {
    display: none;
  }

  .video{
    display: none;
  }

  .menu {
    top: 13px;
    .cw{
      color: #000 !important;
    }
  }


  .mobile-link{
    display: block;
  }
}


