<div *ngIf="!event">
  <div class="loader-wp-a">
    <div class="loader-a">
      <div class="loader-one"></div>
      <div class="loader-two"></div>
      <div class="loader-three"></div>
    </div>
  </div>
</div>


<div *ngIf="event" class="p-wp-c">
  <!--------------------TOP-------------------->
  <div class="p-block-a">
    <div class="p-wp-e p-edit-a p-inside-a">
      <button *ngIf="event.is_owner" (click)="editEventTop()" aria-label="1" class="p-btn-g"><img src="../assets/i/icons/edit.png" alt=""></button>


      <div id="event-intro-one" [ngClass]="{'p-edit-a-area': event.is_owner}" class="p-block-a-date">
        <div class="p-block-a-date-a">
          <div>{{event.start_date | date: 'd'}}</div>
          <span>{{event.start_date | date: 'MMM'}}</span>
        </div>
        <div class="p-block-a-date-b">
          <div class="cw fsz16 fw700 mv5 wsn">
            <img class="mr5 mb5" src="../assets/i/icons/clock.png" alt="">
            <span>{{event.start_date | date: 'H:mm'}}</span>
            <span class="c2 fw100">{{event.start_date | date: 'EEEE'}}</span>
          </div>
          <div class="cw fsz22 fw900 wsn">
            <img class="mr5 mb5" src="../assets/i/icons/mark-b.png" alt="">
            <span>{{event.city_country}}</span>
          </div>
        </div>

        <div *ngIf="event.end_date" class="p-block-a-date-a">{{ 'end' | translate }}</div>
        <div *ngIf="event.end_date" class="p-block-a-date-b">
          <div class="cw fsz16 fw700 mv5 wsn">
            <img class="mr5 mb5" src="../assets/i/icons/clock.png" alt="">
            <span>{{event.end_date | date: 'dd MMM HH:mm'}}</span>
          </div>
        </div>
      </div>

      <a [routerLink]="['/user', event.user_secure_id]" [ngClass]="{'p-edit-a-area': event.is_owner}" class="p-box-d">
        <div class="p-box-d-user">
          <span class="p-box-d-user-ava" [ngStyle]="{'background': 'url(' + (event.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
          <span *ngIf="user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
          <span *ngIf="user.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
        </div>
        <div class="p-box-d-hosted">
          <span class="wsn">{{ 'hosted_by' | translate }}</span>
          <div class="wsn">{{event.username}}</div>
        </div>
      </a>

      <div class="p-block-a-info">
        <div id="event-intro-seven" class="p-block-a-info-a">
          <app-event-badges [event]="event" (onVote)="getEvent()"></app-event-badges>
        </div>
        <div>
          <div [ngClass]="{'p-edit-a-area': event.is_owner}" class="p-block-a-info-b">
            {{event.title}}
          </div>
          <a (appShare)="onClick($event)" [share]="{type: 'fb', event: event}" class="dibM mr5 p-mob-hide"><img src="../assets/i/icons/fb.png" alt=""></a>
          <!--<a class="dibM" target="_blank" href="http://twitter.com/share?text=check this out! {{$location.absUrl().replace('#', '%23')}}&hashtags=open4partiez,O4P"><img src="../assets/i/icons/tw.png" alt=""></a>-->
        </div>
      </div>
    </div>


    <!--------------------SLIDER-------------------->
    <app-slider [slider]="event" (onMediaAdded)="onMedia($event)"></app-slider>
  </div>

  <!------------------BOTTOM------------------->
  <div class="p-wp-a mt35">
    <button (click)="!event.is_owner ? participationPop() : ''" [ngClass]="{bg3: event.is_owner}" class="p-btn-go" id="event-intro-five">
      <img *ngIf="!event.is_owner" src="../assets/i/icons/ship.png" alt="">
      <span *ngIf="!event.is_owner">{{ 'im_going' | translate }}</span>
      <strong *ngIf="event.is_owner" class="fsz15 cw">{{ 'organizer' | translate }}</strong>
    </button>

    <button *ngIf="!event.is_owner" (click)="sendMessagePop()" class="p-btn-mail" id="event-intro-six">
      <img src="../assets/i/icons/mail.png" alt="">
      <span>{{ 'message_to_organizer' | translate }}</span>
    </button>


    <div class="wp-btw">
      <!------------------LEFT------------------->
      <div class="p-wp-b">
        <div class="p-block-b mb30 p-edit-a">
          <button *ngIf="event.is_owner" (click)="editEventBot()" aria-label="1" class="p-btn-g"><img src="../assets/i/icons/edit.png" alt=""></button>

          <div class="wp-btw mb20">
            <div id="event-intro-two">
              <div class="nm mb15 ttu">{{ 'event_nature' | translate }}</div>

              <app-event-nature [inputVal]="event.event_nature" [disableSet]="true" [ngClass]="{'p-edit-a-area': event.is_owner}" class="db"></app-event-nature>
            </div>

            <div id="event-intro-three" class="tar">
              <div class="nm ttu mb15">
                {{ 'entrance_fee' | translate }}
              </div>

              <div [ngClass]="{'p-edit-a-area': event.is_owner}" class="c4 fsz30 fw100">
                <div *ngIf="event.condition != 'price'" class="fsz18 mt30">{{event.condition_label}}</div>
                <!--|| 'Chacun amène ce qu\'il veut'-->
                <div *ngIf="event.condition == 'price'">{{event.price || 0}} <b>&#8364;</b></div>
              </div>
            </div>
          </div>

          <div *ngIf="event.nb_people_min != null && event.nb_people_max != null || event.gender_balance != null || event.age_min != null && event.age_max != null" class="mb20">
            <div class="nm ttu mb15">
              {{ 'event_conditions' | translate }}
            </div>

            <div class="w100p mt10">
              <div [ngClass]="{'p-edit-a-area': event.is_owner}" class="dibM">
                <div *ngIf="event.nb_people_min != null && event.nb_people_max != null"
                     mdTooltip="{{'number_of_people' | translate}}"
                     [mdTooltipPosition]="'above'"
                     class="p-box-k">
                  {{event.nb_people_min + '-' + event.nb_people_max}}
                </div>
                <div *ngIf="event.gender_balance != null"
                     mdTooltip="{{'gender_balance' | translate}}"
                     [mdTooltipPosition]="'above'"
                     class="p-box-k bg4">
                  {{gender_balance}}
                </div>
                <div *ngIf="event.age_min != null && event.age_max != null"
                     mdTooltip="{{'age_range' | translate}}"
                     [mdTooltipPosition]="'above'"
                     class="p-box-k bg5">
                  {{event.age_min}} - {{event.age_max}}
                </div>
              </div>
            </div>
          </div>

          <div class="wp-btw mb20">
            <div>
              <div class="nm mb15 ttu">
                {{ 'event_facilities' | translate }}:
                {{event.participation_condition_label}}
              </div>

              <app-options [inputOptions]="event.options" [disableToggle]="true" [ngClass]="{'p-edit-a-area': event.is_owner}" class="db"></app-options>
            </div>

            <div></div>
          </div>

          <div class="wp-btw mb20">
            <div>
              <div class="nm mb15 ttu">
                {{ 'participation_condition' | translate }}:
              </div>

              <div [ngClass]="{'p-edit-a-area': event.is_owner}" class="fsz14 c6 lh23">{{event.event_type_label}}</div>
            </div>
          </div>

          <div class="mb20">
            <div class="nm ttu mb15">
              {{ 'what_is_it_about' | translate }}
            </div>

            <pre [ngClass]="{'p-edit-a-area': event.is_owner}" class="fsz14 c6 lh23 wspl ovh">
              {{event.description}}
            </pre>
          </div>

          <div *ngIf="event.show_address" class="mb20">
            <div class="nm ttu mb15">
              {{ 'address' | translate }}:
            </div>

            <p [ngClass]="{'p-edit-a-area': event.is_owner}" class="fsz14 c6 lh23">
              {{event.full_address}}
            </p>
          </div>

          <div *ngIf="event.show_participation_card" class="tac">
            <button md-button (click)="participationCard()" class="md-raised md-primary bg3">
              {{ 'download_my_participation_card' | translate }}
            </button>
          </div>

          <div *ngIf="event.is_owner" class="wp-arnd_cen mt20">
            <button md-button (click)="attendeeList()" class="md-raised md-primary bg3">
              {{ 'presence_list' | translate }}
            </button>
            <button md-button (click)="getStatistics()" class="md-raised md-primary bg3">
              {{ 'event_report' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!------------------RIGHT------------------->
      <div class="p-wp-b">
        <div id="event-intro-four" class="p-block-b mb30">
          <h2 class="ttu c1 fsz16 mb15">{{ 'live_streaming' | translate }}</h2>
          <div class="wp-btw_cen">
            <!--<div (click)="livePop()" class="p-box-e" style="background: url(assets/i/demo/party3.jpg) center no-repeat;">-->
            <!--</div>-->
            <div class="p-box-f-broad">
              <div *ngIf="event.periscope_id">
                <!--<script>window.twttr = function (t, e, r) {-->
                  <!--var n, i = t.getElementsByTagName(e)[0], w = window.twttr || {};-->
                  <!--return t.getElementById(r) ? w : (n = t.createElement(e), n.id = r, n.src = "https://platform.twitter.com/widgets.js", i.parentNode.insertBefore(n, i), w._e = [], w.ready = function (t) {-->
                    <!--w._e.push(t)-->
                  <!--}, w)-->
                <!--}(document, "script", "twitter-wjs")</script>-->
                <!--<a href="https://www.periscope.tv/{{event.periscope_id}}" class="periscope-on-air" data-size="small">{{event.periscope_id}}</a>-->


                <script>window.twttr=function(t,e,r){var n,i=t.getElementsByTagName(e)[0],w=window.twttr||{};return t.getElementById(r)?w:(n=t.createElement(e),n.id=r,n.src="https://platform.twitter.com/widgets.js",i.parentNode.insertBefore(n,i),w._e=[],w.ready=function(t){w._e.push(t)},w)}(document,"script","twitter-wjs")</script>
                <a href="https://www.periscope.tv/{{event.periscope_id}}" target="_blank">
                  <img src="../assets/i/icons/largeOnAir.png" alt="">
                </a>
              </div>

              <div *ngIf="!event.periscope_id">
                {{ 'no_broadcast_to_show' | translate }}
              </div>
            </div>

            <div (click)="liveDescPop()" href="" class="p-box-f">
              <span class="p-box-f-text">{{ 'stream' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="p-block-b mb30">
          <div class="wp-btw">
            <h2 class="ttu c1 fsz16 mb15">{{ 'who_is_going' | translate }}</h2>
            <a *ngIf="event.confirmed" (click)="seeAllPop()" class="p-link-a">
              <span *ngIf="event.is_owner">{{ 'see_all_and_manage' | translate }}</span>
              <span *ngIf="!event.is_owner">{{ 'see_all' | translate }}</span>
              {{event.confirmed.length}}
            </a>
          </div>
          <div class="wp-btw">
            <div>
              <a [routerLink]="['/user', user.user_secure_id]"
                 *ngFor="let user of event.confirmed; let index = index"
                 mdTooltip="{{user.username}}"
                 [mdTooltipPosition]="'above'"
                 class="p-box-g anim-e mr5">
                  <span *ngIf="index <= 3">
                    <span class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
                    <span *ngIf="user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
                    <span *ngIf="user.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
                    <span class="p-box-g-exit"><img src="../assets/i/icons/exit.png" alt=""></span>
                  </span>
              </a>

              <a [routerLink]="['/user', user.user_secure_id]"
                 *ngFor="let user of event.waiting; let index = index"
                 mdTooltip="{{user.username}}"
                 [mdTooltipPosition]="'above'"
                 class="p-box-g anim-e mr5">
                  <span *ngIf="index <= 3">
                    <span class="p-box-g-ava" [ngStyle]="{'background': 'url(' + (user.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
                    <span *ngIf="user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
                    <span *ngIf="user.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
                    <span class="p-box-g-exit"><img src="../assets/i/icons/exit.png" alt=""></span>
                  </span>
              </a>
            </div>
            <button (click)="invitePop()" class="p-box-g p-btn-o">
              <span class="p-box-g-add"><img src="../assets/i/icons/+.png" alt=""></span>
            </button>
          </div>
        </div>
      </div>

      <!------------------MIDDLE------------------->
      <div class="p-block-b mb30">
        <app-comments (on_comment)="getEvent()" [can_comment]="event.can_comment" [comments]="event.comments" [secure_id]="event.secure_id" [comment_path]="'events'"></app-comments>
      </div>
    </div>
  </div>
</div>


