.el{
  &-wp{
    width: 320px;
  }

  &-in{
    width: 85%;
    overflow: hidden;
  }

  &-box{
    width: 15%;
  }

  &-btn{
    &-a{
      width: 100%;
      background: #ff1644;
      padding: 6px;
      img{
        width: 16px;
      }
    }

    &-b{
      @extend .el-btn-a;
      background: #000;
      img{
        transform: rotate(45deg);
      }
    }
  }
}
