<md-dialog-content>
  <div class="el-wp wp-btw_cen">
    <div class="el-in">
      <md-input-container class="z-in-noerr">
        <input [(ngModel)]="city.full_address" placeholder="City filter" (keyup.enter)="checkCity()" (place)="setPlace($event)" appGoogleplace mdInput type="text">
      </md-input-container>
    </div>


    <div class="el-box">
      <button (click)="closeSave();" class="el-btn-a">
        <img src="assets/i/icons/+.png" alt=""/>
      </button>
      <button (click)="close();" class="el-btn-b">
        <img src="assets/i/icons/+.png" alt=""/>
      </button>
    </div>
  </div>
</md-dialog-content>
