<button
  *ngFor="let item of badges"
  (click)="addVote(item.id)"
  [ngClass]="{voted: user.votedbadge == item.id}"
  mdTooltip="{{user.votedbadge ? 'you_cant_vote' : 'you_need_to_share_an_event_with_that_user_firs' | translate}}"
  [mdTooltipPosition]="'above'"
  [mdTooltipDisabled]="user.can_vote"
  class="p-btn-h bg4">
  <span [inlineSVG]="'../assets/i/svg/' + item.id + '.svg'" class="p-btn-h-img path"></span>
  <span *ngIf="user.top_badge == item.id" class="p-mark-a"></span>
</button>
