<md-dialog-content>
  <div class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <h2 class="fsz18 c2 fw700 mb20 tac">{{ 'do_you_really_want_to' | translate }}</h2>
    <form [formGroup]="form" (submit)="claim()" class="fsz16 c6 mb25 p-edit nm">
      <md-input-container class="w100p mb10">
        <input (change)="checkNum()" formControlName="num" mdInput placeholder="{{'enter_number' | translate }}" type="number">
        <span class="z-in-err" *ngIf="form.controls.num.invalid && form.controls.num.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <button md-button [ngClass]="{inactive: form.controls.num.invalid}" type="submit" class="p-btn-d-c w100p mt20">{{ 'withdraw' | translate }}</button>
    </form>
  </div>
</md-dialog-content>
