<md-dialog-content>
  <form *ngIf="data" (submit)="sendMessage()" class="pall20 relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div class="tac">
      <a [routerLink]="['/user', data.data.user_secure_id]" href="" class="dibM tal">
        <div class="p-box-d-user mr20 dibM">
          <span class="p-box-d-user-ava"
                [ngStyle]="{'background': 'url(' + (data.data.user_picture || '../assets/i/icons/user.png') + ') 50% 50% no-repeat'}"></span>
        </div>
        <div class="dibM">
          <div *ngIf="data.type == 'to'" class="wsn c6 fsz14 tal">{{ 'message_to' | translate }}</div>
          <div *ngIf="data.type == 'from'" class="wsn c6 fsz14 tal">{{'message_from' | translate}}</div>
          <div class="fw700 dibM">{{data.data.username}}</div>
        </div>
      </a>
    </div>


    <blockquote *ngIf="data.data.message" class="p-quotes-a">
      {{data.data.message}}
    </blockquote>


    <blockquote *ngIf="data.data.reply" class="p-quotes-b">
      {{data.data.reply}}
    </blockquote>


    <div *ngIf="!data.data.reply">
      <md-input-container class="w100p mv20">
        <textarea
          [(ngModel)]="data.text"
          placeholder="{{ 'send_message' | translate }}"
          name="description"
          #description="ngModel"
          [mdAutosizeMinRows]="4"
          md-maxlength="1500"
          mdTextareaAutosize
          mdInput
          required></textarea>
        <span *ngIf="description.errors && (description.dirty || description.touched)" class="z-in-err">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <button [ngClass]="{inactive: !data.text}" md-button type="submit" class="p-btn-d-b w100p">{{ 'send_message' | translate }}</button>
    </div>
  </form>
</md-dialog-content>

