<md-dialog-content>
  <form *ngIf="update" #f="ngForm" class="p-pop-wp-b">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <app-upload [file]="file" (onFile)="onFileChange($event)"></app-upload>


    <div class="tac">
      <h2 class="ttu fsz16 c2 mv10">{{ 'event_nature' | translate }}</h2>
      <app-event-nature [initValue]="update.event_nature_val" (onSet)="onNatureSet($event)"></app-event-nature>
    </div>


    <div class="pall20">
      <md-input-container class="w100p">
        <input
          placeholder="{{'event_title' | translate }}"
          [(ngModel)]="update.title"
          name="title"
          #title="ngModel"
          type="text"
          required
          mdInput>
        <span class="z-in-err" *ngIf="title.errors && (title.dirty || title.touched)">
              {{ 'this_is_required' | translate }}
            </span>
      </md-input-container>


      <md-input-container class="w100p">
        <input
          placeholder="{{'country' | translate }}"
          [(ngModel)]="update.city_country"
          (place)="setPlace($event)"
          appGoogleplace
          #country="ngModel"
          name="country"
          type="text"
          required
          mdInput>

        <span class="z-in-err" *ngIf="country.errors && (country.dirty || country.touched)">
              {{ 'this_is_required' | translate }}
            </span>
      </md-input-container>


      <div class="wp-arnd_cen mb30 tac">
        <div class="relative w50p">
          <md2-datepicker name="dateTimeStart"
                          placeholder="{{ 'start_time' | translate}}"
                          [(ngModel)]="update.start_date"
                          [min]="update.start_date"
                          [ngClass]="{'ng-touched': dateTimeStart.errors ? dateTimeStart.errors.dirty : false}"
                          [required]="true"
                          [openOnFocus]="true"
                          [type]="'datetime'"
                          [format]="'M/d/y HH:mm'"
                          #dateTimeStart="ngModel">
          </md2-datepicker>
          <span *ngIf="dateTimeStart.errors && (dateTimeStart.dirty || dateTimeStart.touched)" class="z-in-err-date">{{ 'this_is_required' | translate }}</span>
        </div>



        <div class="relative w50p">
          <md2-datepicker name="dateTimeEnd"
                          placeholder="{{ 'end_date' | translate }}"
                          [(ngModel)]="update.end_date"
                          [min]="update.start_date"
                          [required]="false"
                          [openOnFocus]="true"
                          [format]="'M/d/y HH:mm'"
                          [type]="'datetime'">
          </md2-datepicker>
        </div>
      </div>



      <div class="wp-btw p-mob-btns">
        <button md-button type="button" (click)="deleteConfirmPop()" class="p-btn-d-c w33p bg4 fsz16 ttu">
          {{ 'delete_this_event' | translate }}
        </button>
        <button md-button type="button" (click)="save(f)" class="p-btn-d-c w33p fsz16 ttu">{{ 'update_event' | translate }}</button>
      </div>
    </div>
  </form>
</md-dialog-content>
