<md-dialog-content>
  <form [formGroup]="form" (submit)="createAcc()" class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <md-input-container class="w100p mb10">
      <input formControlName="email" mdInput placeholder="{{'email' | translate }}" type="email">
      <span class="z-in-err" *ngIf="form.controls.email.invalid && form.controls.email.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>

    <md-input-container class="w100p mb10">
      <input formControlName="password" mdInput placeholder="{{'password' | translate }}" type="password">
      <span class="z-in-err" *ngIf="form.controls.password.invalid && form.controls.password.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>

    <md-input-container class="w100p mb10">
      <input formControlName="password2" mdInput placeholder="{{'confirm_password' | translate }}" type="password">
      <span class="z-in-err" *ngIf="form.controls.password2.invalid && form.controls.password2.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>

    <md-input-container class="w100p mb10">
      <input formControlName="username" mdInput placeholder="{{'nickname' | translate }}" type="text">
      <span class="z-in-err" *ngIf="form.controls.username.invalid && form.controls.username.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>

    <div class="mb20">
      <md-checkbox formControlName="terms" class="fsz12">
        <span (click)="termsPop()" [innerHTML]="'i_read_and_accept_the_terms' | translate"></span>
      </md-checkbox>
    </div>

    <app-recaptcha (succcess)="onRecaptcha($event)" class="mb20 db"></app-recaptcha>

    <button [ngClass]="{inactive: form.invalid || !form.controls.terms.value || !recaptcha}" md-button type="submit" class="p-btn-d-c w100p mt20">{{ 'create_account' | translate }}</button>
  </form>
</md-dialog-content>


