<md-dialog-content class="h100p">
  <div class="z-pop-d">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div class="z-pop-d-box">
      <button md-raised-button *ngIf="media.can_delete" (click)="deleteMedia(media)" class="p-pop-remove">{{'remove' | translate}}</button>


      <div *ngIf="media.type != 'video'" [ngStyle]="{'background': 'url(' + media.media_uri + ') center no-repeat'}" class="p-pop-gall"></div>

      <div *ngIf="media.type == 'video'" class="p-pop-video">
        <!--<youtube-video video-id="media.video"></youtube-video>-->
      </div>
    </div>


    <button (click)="changeMedia(0)" [ngClass]="{dn: data.mediaIndex === 0}" class="z-pop-d-prev"><span class="z-pop-d-prev-arr"></span></button>
    <button (click)="changeMedia(1)" [ngClass]="{dn: data.mediaIndex === data.mediaArr.length - 1}" class="z-pop-d-next"><span class="z-pop-d-next-arr"></span></button>
  </div>
</md-dialog-content>
