<button
  *ngFor="let item of badges"
  (click)="addVote(item.id)"
  [ngClass]="{voted: event.votedbadge == item.id}"
  mdTooltip="{{event.can_vote ? 'you_cant_vote' : 'participants_can_vote_when_the_event_is_finished' | translate}}"
  [mdTooltipPosition]="'above'"
  [mdTooltipDisabled]="event.can_vote"
  class="p-btn-h bg5">
  <span [inlineSVG]="'../assets/i/svg/' + item.id + '.svg'" class="p-btn-h-img path"></span>
  <span *ngIf="event.top_badge == item.id" class="p-mark-a"></span>
</button>

