<div class="map"></div>

<div class="slider">
  <button (click)="changeZoomBtn(-1)" class="slider-btn">-</button>
  <div class="slider-box"></div>
  <button (click)="changeZoomBtn(1)" class="slider-btn">+</button>
</div>

