.map{
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}


.slider{
  position: absolute;
  z-index: 2;
  top: calc(50% - 245px);
  left: 70px;

  &-box{
    height: 300px;
    background: hsla(0,0%,100%,.5);
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 10px;
    margin: 0 auto;
  }

  &-btn{
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 55px;
    line-height: 25px;
    padding: 35px 0;
  }
}


@media all and (max-width: 1700px) {
  .slider-box {
    height: 220px;
  }
}


@media all and (max-width: 1023px) {
  .slider{
    display: none;
  }
  .map{
    visibility: hidden;
  }
}
