<div *ngIf="!isFilter">
  <button
    type="button"
    *ngFor="let i of arr"
    (click)="set(i)"
    [ngClass]="{'voted': !i.isactive}"
    mdTooltip="{{i.name | translate}}"
    [mdTooltipPosition]="'above'"
    class="p-btn-h bg4">
    <span [inlineSVG]="'../assets/i/svg/' + i.name + '.svg'" class="p-btn-h-img"></span>
  </button>
</div>


<div *ngIf="isFilter">
  <button
    type="button"
    *ngFor="let i of arr"
    (click)="set(i)"
    [ngClass]="{'active': i.isactive}"
    mdTooltip="{{i.name | translate}}"
    [mdTooltipPosition]="'above'"
    class="p-btn-i">
    <span [inlineSVG]="'../assets/i/svg/' + i.name + '.svg'" class="p-btn-i-img"></span>
  </button>
</div>
