<md-dialog-content>
  <form *ngIf="update" #f="ngForm" class="p-pop-wp-b ph40 pv20">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div>
      <div class="wp-btw_cen w100p">
        <div>
        </div>

        <div [ngClass]="{c3: update.is_address_public}" class="ttu fsz16 c2">{{ 'address' | translate }}</div>


        <md-slide-toggle
          [(ngModel)]="update.is_address_public"
          mdTooltip="{{'visible' | translate}}"
          [mdTooltipPosition]="'above'"
          name="is_address_public" class="mn"></md-slide-toggle>
      </div>


      <md-input-container class="w100p">
        <input
          placeholder="{{'address' | translate }}"
          [(ngModel)]="update.full_address"
          (place)="setAddress($event)"
          appGoogleplace
          name="address"
          type="text"
          mdInput>
      </md-input-container>
    </div>


    <div class="wp-btw_cen">
      <div class="w50p">
        <div class="wp-btw_cen w100p">
          <div>
          </div>

          <div [ngClass]="{c3: update.is_phone_public}" class="ttu fsz16 c2">{{ 'phone' | translate }}</div>

          <md-slide-toggle
            [(ngModel)]="update.is_phone_public"
            mdTooltip="{{'visible' | translate}}"
            [mdTooltipPosition]="'above'"
            name="is_phone_public" class="mn"></md-slide-toggle>
        </div>

        <md-input-container class="w100p">
          <input
            placeholder="{{'phone' | translate }}"
            [(ngModel)]="update.phone"
            name="phone"
            type="tel"
            mdInput>
        </md-input-container>
      </div>

      <div class="w50p">
        <div class="wp-btw_cen w100p">
          <div>
          </div>

          <div [ngClass]="{c3: update.is_email_public}" class="ttu fsz16 c2">{{ 'email' | translate }}</div>

          <md-slide-toggle
            [(ngModel)]="update.is_email_public"
            mdTooltip="{{'visible' | translate}}"
            [mdTooltipPosition]="'above'"
            name="is_email_public" class="mn"></md-slide-toggle>
        </div>

        <md-input-container class="w100p">
          <input
            placeholder="{{'email' | translate }}"
            [(ngModel)]="update.email"
            name="email"
            #email="ngModel"
            type="email"
            required
            mdInput>
          <span class="z-in-err" *ngIf="email.errors && (email.dirty || email.touched)">{{ 'this_is_required' | translate }}</span>
        </md-input-container>
      </div>
    </div>


    <div class="wp-btw_end">
      <div class="w33p">
        <div class="wp-btw_cen w100p">
          <div>
          </div>

          <div [ngClass]="{c3: update.is_birthday_public}" class="ttu fsz16 c2">{{ 'birthday' | translate }}</div>

          <md-slide-toggle
            [(ngModel)]="update.is_birthday_public"
            mdTooltip="{{'visible' | translate}}"
            [mdTooltipPosition]="'above'"
            name="is_birthday_public" class="mn"></md-slide-toggle>
        </div>


        <div class="relative w100p">
          <md2-datepicker name="birthday"
                          placeholder="{{ 'birthday' | translate}}"
                          [(ngModel)]="update.birthdate"
                          [ngClass]="{'ng-touched': birthday.errors ? birthday.errors.dirty : false}"
                          [required]="true"
                          [openOnFocus]="true"
                          [type]="'date'"
                          [format]="'M/d/y'"
                          #birthday="ngModel"
                          class="w100p z-data">
          </md2-datepicker>
          <span *ngIf="birthday.errors && (birthday.dirty || birthday.touched)" class="z-in-err-date-a">{{ 'this_is_required' | translate }}</span>
        </div>
      </div>

      <div class="w33p">
        <md-select placeholder="{{'gender' | translate}}" [(ngModel)]="update.gender" name="gender" class="w100p">
          <md-option [value]="'male'">
            {{'male' | translate}}
          </md-option>
          <md-option [value]="'female'">
            {{'female' | translate}}
          </md-option>
          <md-option [value]="'unknown'">
            {{'unknown' | translate}}
          </md-option>
        </md-select>
      </div>

      <div class="w33p">
        <md-select placeholder="{{'language' | translate}}" [(ngModel)]="update.language" name="language_id" class="w100p">
          <md-option *ngFor="let item of languages.arr" [value]="item">
            {{item.language_label_locale}}
          </md-option>
        </md-select>
      </div>
    </div>


    <div class="wp-btw_cen w100p mt20">
      <span [ngClass]="{c3: update.email_notifications}" class="c2">{{'email_me_my_notifications' | translate}}</span>
      <md-slide-toggle
        [(ngModel)]="update.email_notifications"
        mdTooltip="{{'visible' | translate}}"
        [mdTooltipPosition]="'above'"
        name="email_notifications" class="mn"></md-slide-toggle>
    </div>

    <div class="wp-btw_cen w100p mt20">
      <span [ngClass]="{c3: update.newsletter}" class="c2">{{'newsletter' | translate}}</span>
      <md-slide-toggle
        [(ngModel)]="update.newsletter"
        mdTooltip="{{'visible' | translate}}"
        [mdTooltipPosition]="'above'"
        name="newsletter" class="mn"></md-slide-toggle>
    </div>

    <div class="wp-btw_cen w100p mv20">
      <span [ngClass]="{c3: update.email_events}" class="c2">{{'email_me_events_around_me_and_other' | translate}}</span>
      <md-slide-toggle
        [(ngModel)]="update.email_events"
        mdTooltip="{{'visible' | translate}}"
        [mdTooltipPosition]="'above'"
        name="email_events" class="mn"></md-slide-toggle>
    </div>

    <button md-button type="button" (click)="save(f)" class="p-btn-d-c w100p ttu">{{ 'save' | translate }}</button>
  </form>
</md-dialog-content>



