<div class="p-slider wsn">
  <div appScrollx class="scrollcon-x">
    <div *ngIf="!slider.medias" [ngStyle]="{'background': 'url(assets/i/icons/logo-c.jpg) center center no-repeat'}" class="p-slider-a anim-e">
      <div class="p-slider-a-title">
        {{ 'you_can_add_media_files' | translate }}
      </div>
    </div>
    <div *ngFor="let item of slider.medias; let index= index"
         (click)="mediaSliderPop(index)"
         [ngClass]="{'p-slider-b': item.type == 'video'}"
         [ngStyle]="{'background': 'url(' + (item.media_uri || 'i/demo/party1.jpg') + ') center center no-repeat'}" class="p-slider-a anim-e">
      <div class="p-slider-a-title">{{item.label}}</div>
      <button *ngIf="item.type == 'video'" class="p-btn-o"><img src="assets/i/icons/play.png" alt=""></button>
    </div>

    <div class="p-slider-a" style="width: 150px !important;"></div>
  </div>
  <button
    (click)="addMediaPop()"
    mdTooltip="{{tooltip | translate}}"
    [mdTooltipPosition]="'left'"
    class="p-slider-add">
    <img class="p-slider-add-icon" src="assets/i/icons/+-a.png" alt="">
    <span>{{ 'add_photos' | translate }}</span>
  </button>
</div>




