<div *ngIf="!isFilter" class="wp-btw tac">
  <button
    type="button"
    *ngFor="let i of options"
    (click)="toggleOption(i)"
    [ngClass]="{'voted': !i.isactive}"
    mdTooltip="{{i.name | translate}}"
    [mdTooltipPosition]="'above'"
    class="p-btn-h bg4">
    <span
      [inlineSVG]="'../assets/i/svg/' + i.name + '.svg'"
      class="p-btn-h-img"></span>
  </button>
</div>


<div *ngIf="isFilter">
  <button
    *ngFor="let i of options"
    (click)="toggleOption(i)"
    [ngClass]="{active: i.isactive}"
    mdTooltip="{{i.name | translate}}"
    [mdTooltipPosition]="'above'"
    class="p-btn-i">
    <span
      [inlineSVG]="'../assets/i/svg/' + i.name + '.svg'"
      class="p-btn-i-img"></span>
  </button>
</div>

