<md-dialog-content>
  <form [formGroup]="form" (submit)="resetPass()" class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <md-input-container class="w100p mb10">
      <input formControlName="login" mdInput placeholder="{{'email_nickname' | translate }}" type="text">
      <span class="z-in-err" *ngIf="form.controls.login.invalid && form.controls.login.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>


    <button [ngClass]="{inactive: form.invalid}" md-button type="submit" class="p-btn-d-c w100p mt10">{{ 'reset_password' | translate }}</button>
  </form>
</md-dialog-content>

