<md-input-container class="w100p">
  <input
    [mdAutocomplete]="auto"
    [(ngModel)]="user"
    (input)="findUser(user)"
    (keyup.enter)="addUser({username: user})"
    mdInput placeholder="Add user">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let user of usersArr" (click)="addUser(user)">
    {{ user.username }}
  </md-option>
</md-autocomplete>

<md-chip-list>
  <md-chip *ngFor="let user of users; let index = index" class="mb5">
    {{user.username}}
    <button (click)="removeUser(index)" class="z-chip-close"></button>
  </md-chip>
</md-chip-list>
