<md-dialog-content>
  <form [formGroup]="form" (submit)="sendFeed()" class="z-pop-c">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div class="wp-btw mb10">
      <md-input-container class="w50p">
        <input formControlName="firstname" mdInput placeholder="{{'first_name' | translate }}" type="text">
        <span class="z-in-err" *ngIf="form.controls.firstname.invalid && form.controls.firstname.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>

      <md-input-container class="w50p">
        <input formControlName="lastname" mdInput placeholder="{{'last_name' | translate }}" type="text">
        <span class="z-in-err" *ngIf="form.controls.lastname.invalid && form.controls.lastname.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>
    </div>


    <md-input-container class="w100p mb10">
      <input formControlName="email" mdInput placeholder="{{'email' | translate }}" type="email">
      <span class="z-in-err" *ngIf="form.controls.email.invalid && form.controls.email.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>


    <md-input-container class="w100p mb10">
      <textarea formControlName="message"
                placeholder="{{'message' | translate }}"
                [mdAutosizeMinRows]="4"
                md-maxlength="1500"
                mdTextareaAutosize
                mdInput
      ></textarea>
      <span class="z-in-err" *ngIf="form.controls.message.invalid && form.controls.message.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>


    <button [ngClass]="{inactive: form.invalid}" md-button type="submit" class="p-btn-d-c w100p mt20">{{ 'send' | translate }}</button>
  </form>
</md-dialog-content>
