<div *ngIf="user" class="p-wp-c">
  <!--------------------TOP-------------------->
  <div class="p-block-a">
    <div class="p-wp-e p-edit-a p-inside-b">
      <button *ngIf="user.is_owner" (click)="editUserTopPop()" aria-label="editUserTop" class="p-btn-g"><img src="../assets/i/icons/edit.png" alt=""></button>

      <div class="p-wp-b">
        <div class="p-box-d w100p wp-btw_start">
          <div id="user-intro-one" [ngClass]="{'p-edit-a-area': user.is_owner}" class="p-box-d-user mr20">
            <span class="p-box-d-user-ava" [ngStyle]="{'background': 'url(' + (user.image || 'assets/i/icons/user.png') + ') 50% 50% no-repeat'}"></span>
            <span *ngIf="user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
            <span *ngIf="user.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
          </div>
          <div class="p-box-d-info">
            <div [ngClass]="{'p-edit-a-area': user.is_owner}" class="cw fsz16 fw700 mb5 wsn">
              {{(user.username + (user.fullname ? ' (' + user.fullname + ')' : '')) || 'Choose a username'}}
            </div>
            <div class="cw fsz22 fw900 wsn">
              <img class="dibT mr5" src="../assets/i/icons/mark-b.png" alt="">
              <span class="dibM mr5">{{user.nationality_label || ('nationality_not_set' | translate)}}</span>
              <span class="dibB fsz13 fw100">{{'member since ' + (user.member_since | date: 'dd/MMM/yyyy')}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="p-wp-b">
        <div class="p-block-a-info w100p">
          <div id="user-intro-four" class="p-block-a-info-a">
            <app-user-badges [user]="user" (onVote)="getUser()"></app-user-badges>
          </div>

          <pre [ngClass]="{'p-edit-a-area': user.is_owner}" class="fsz14 cw lh23 wspl ovh">
            {{user.description}}
          </pre>
        </div>
      </div>
    </div>


    <!--------------------SLIDER-------------------->
    <app-slider [slider]="user" (onMediaAdded)="onMedia($event)"></app-slider>
  </div>

  <!------------------BOTTOM------------------->
  <div class="p-wp-a mt35">
    <div class="wp-btw">
      <!------------------LEFT------------------->
      <div class="p-wp-b">
        <div id="user-intro-two" class="p-block-b mb30 pall20 pl30 p-edit-a">
          <img *ngIf="user.gender == 'male'" class="p-block-b-img" src="./assets/i/gender/male.gif" alt="">
          <img *ngIf="user.gender == 'female'" class="p-block-b-img" src="./assets/i/gender/female.gif" alt="">
          <button *ngIf="user.is_owner" (click)="editUserBotPop();" aria-label="editUserBot" class="p-btn-g"><img src="../assets/i/icons/edit.png" alt=""></button>


          <div class="wp-btw_cen mb25">
            <h2 class="ttu c1 fsz16">
              {{ 'personal_information' | translate }}
            </h2>
          </div>

          <div *ngIf="!(user.can_see_address || user.can_see_phone || user.can_see_email || user.can_see_birthday)" class="ttu c1 fsz16">
            {{'nothing_to_display' | translate}}
          </div>

          <div *ngIf="user.can_see_address && user.country" class="p-edit wp-cen_start mb20">
            <img class="di mr5" src="../assets/i/icons/p1.png" alt="">

            <div [ngClass]="{'p-edit-a-area': user.is_owner, c3: user.is_address_public}"
                 mdTooltip="{{'visible' | translate}}"
                 [mdTooltipPosition]="'above'"
                 [mdTooltipDisabled]="!user.is_address_public"
                 class="p-edit-text di c8 fsz14 mr10">
                {{user.full_address}}
            </div>
          </div>

          <div *ngIf="user.can_see_phone && user.phone" class="p-edit wp-cen_start mb20">
            <img class="di mr5" src="../assets/i/icons/p5.png" alt="">

            <div [ngClass]="{'p-edit-a-area': user.is_owner, c3: user.is_phone_public}"
                 mdTooltip="{{'visible' | translate}}"
                 [mdTooltipPosition]="'above'"
                 [mdTooltipDisabled]="!user.is_phone_public"
                 class="p-edit-text di c8 fsz14 mr10">
                {{user.phone}}
            </div>
          </div>

          <div *ngIf="user.can_see_email && user.email" class="p-edit wp-cen_start mb20">
            <img class="di mr5" src="../assets/i/icons/p4.png" alt="">

            <div [ngClass]="{'p-edit-a-area': user.is_owner, c3: user.is_email_public}"
                 mdTooltip="{{'visible' | translate}}"
                 [mdTooltipPosition]="'above'"
                 [mdTooltipDisabled]="!user.is_email_public"
                 class="p-edit-text di c8 fsz14 mr10">
                {{user.email}}
            </div>
          </div>

          <div *ngIf="user.can_see_birthday && user.birthdate" class="p-edit wp-cen_start mb20">
            <img class="di mr5" src="../assets/i/icons/p2.png" alt="">

            <div [ngClass]="{'p-edit-a-area': user.is_owner, c3: user.is_birthday_public}"
                 mdTooltip="{{'visible' | translate}}"
                 [mdTooltipPosition]="'above'"
                 [mdTooltipDisabled]="!user.is_birthday_public"
                 class="p-edit-text di c8 fsz14 mr10">
                {{user.birthdate ? (user.birthdate | date: 'dd/MM/yyyy') : 'not_set' | translate}} {{user.age ? (user.age + 'yo.') : ''}}
            </div>
          </div>


          <div *ngIf="user.is_owner">
            <button *ngIf="!user.has_valid_fb_credentials" md-button (click)="linkToFb()" class="md-raised md-primary bg3">
              {{ 'link_to_fb' | translate }}
            </button>
            <button *ngIf="user.has_valid_fb_credentials" md-button (click)="unlinkFromFb()" class="md-raised md-primary bg3">
              {{ 'unlink_from_fb' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!------------------RIGHT------------------->
      <div class="p-wp-b">
        <div class="p-block-b pn pb30 mb30">
          <md-tab-group id="user-intro-five">
            <md-tab label="{{'organized_events' | translate}}">
              <div [ngClass]="{'p-mob-hide': !user.eventsorganized}" class="bx-btns-a">
                <div *ngIf="!user.eventsorganized" class="p-slider-c-a trn anim-e" style="margin: 0;width: 100% !important;text-align: center;line-height: 150px;">
                  <div class="ttu c1 fsz16 ph30">
                    {{'nothing_to_display' | translate}}
                  </div>
                </div>



                <div class="z-slider p-slider-c">
                  <a [routerLink]="['/event', item.event_secure_id]" *ngFor="let item of user.eventsorganized" class="p-slider-c-a trn anim-e">
                    <span [ngStyle]="{'background': 'url(' + (item.event_image || '../assets/i/demo/party1.jpg') + ') 0 0 no-repeat'}" class="p-slider-c-bg"></span>
                    <div class="p-slider-c-title fsdw-b">{{item.title}}</div>
                  </a>

                  <button (click)="slideArr(user.eventsorganized, 0)" class="z-slider-prev"></button>
                  <button (click)="slideArr(user.eventsorganized, 1)" class="z-slider-next"></button>
                  <!--data-slider-next-->
                </div>
              </div>
            </md-tab>

            <md-tab label="{{'participations' | translate}}">
              <div [ngClass]="{'p-mob-hide': !user.participations}" class="bx-btns-a">
                <div *ngIf="!user.participations" class="p-slider-c-a trn anim-e" style="margin: 0;width: 100% !important;text-align: center;line-height: 150px;">
                  <div class="ttu c1 fsz16 ph30">
                    {{'nothing_to_display' | translate}}
                  </div>
                </div>



                <div class="z-slider p-slider-c">
                  <a [routerLink]="['/event', item.event_secure_id]" *ngFor="let item of user.participations" class="p-slider-c-a trn anim-e">
                    <span [ngStyle]="{'background': 'url(' + (item.event_image || '../assets/i/demo/party1.jpg') + ') 0 0 no-repeat'}" class="p-slider-c-bg"></span>
                    <div class="p-slider-c-title fsdw-b">{{item.title}}</div>
                  </a>

                  <button (click)="slideArr(user.participations, 0)" class="z-slider-prev"></button>
                  <button (click)="slideArr(user.participations, 1)" class="z-slider-next"></button>
                </div>
              </div>
            </md-tab>

            <md-tab  label="{{'waiting' | translate}}">
              <!--<ng-template md-tab-label>
                <span id="user-intro-six" style="display: block;width: 100%;height: 100%;">{{'waiting' | translate}}</span>
              </ng-template>-->
              


              <div [ngClass]="{'p-mob-hide': !user.eventsattendedjson}" class="bx-btns-a">
                <div *ngIf="!user.eventsattendedjson" class="p-slider-c-a trn anim-e" style="margin: 0;width: 100% !important;text-align: center;line-height: 150px;">
                  <div class="ttu c1 fsz16 ph30">
                    {{'nothing_to_display' | translate}}
                  </div>
                </div>



                <div class="z-slider p-slider-c">
                  <div *ngFor="let item of user.eventsattendedjson" class="p-slider-c-a trn anim-e">
                    <a [routerLink]="['/event', item.event_secure_id]" [ngStyle]="{'background': 'url(' + (item.event_image || '../assets/i/demo/party1.jpg') + ') 0 0 no-repeat'}" class="p-slider-c-bg"></a>
                    <div class="p-slider-c-title fsdw-b">{{item.title}}</div>

                    <button
                      mdTooltip="{{'cancel' | translate}}"
                      [mdTooltipPosition]="'above'"
                      (click)="addParticipation(item.participation_secure_id, 'user_canceled');disableBtn($event)"
                      *ngIf="user.is_owner" class="p-slider-cc-a">
                      X
                    </button>
                  </div>

                  <button (click)="slideArr(user.eventsattendedjson, 0)" class="z-slider-prev"></button>
                  <button (click)="slideArr(user.eventsattendedjson, 1)" class="z-slider-next"></button>
                </div>
              </div>
            </md-tab>
          </md-tab-group>



          <div [ngClass]="{'p-mob-hide': !user.likes}">
            <h2 class="ttu c1 fsz16 ph30 mt40 mb20">
              {{ 'things_i_like' | translate }}
            </h2>
            <div class="bx-btns-a">
              <div *ngIf="!user.likes" class="p-slider-c-a trn anim-e" style="margin: 0;width: 100% !important;text-align: center;line-height: 150px;">
                <div class="ttu c1 fsz16 ph30">
                  {{'nothing_to_display' | translate}}
                </div>
              </div>



              <div class="z-slider p-slider-c" id="user_likes">
                <div *ngFor="let item of user.likes" class="p-slider-c-a trn anim-e">
                  <span [ngStyle]="{'background': 'url(' + (item.event_image || '../assets/i/demo/party1.jpg') + ') center no-repeat'}" class="p-slider-c-bg"></span>
                  <div class="p-slider-c-title fsdw-b"style="background-color:#333;padding-top:2px;">{{item.label}}</div>
                </div>

                <button (click)="slideArr(user.likes, 0)" class="z-slider-prev"></button>
                <button (click)="slideArr(user.likes, 1)" class="z-slider-next"></button>
                <!--data-slider-next-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!------------------MIDDLE------------------->
      <div class="p-block-b mb30">
        <app-comments (on_comment)="getUser()" [can_comment]="user.can_comment" [comments]="user.comments" [secure_id]="user.secure_id" [comment_path]="'users'"></app-comments>
      </div>
    </div>
  </div>
</div>










