<md-dialog-content>
  <form *ngIf="user" [formGroup]="form" (submit)="save()" class="p-pop-wp-b">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <app-upload [file]="file" [isMultiple]="false" (onFile)="onFileChange($event)"></app-upload>


    <div class="pall20">
      <!--<input type="text" id="username" name="username" style="overflow:hidden;width:0;height:0;opacity:0;"/>-->
      <md-input-container class="w100p">
        <input formControlName="username" mdInput placeholder="{{'user_name' | translate }}" type="text">
        <span class="z-in-err" *ngIf="form.controls.username.invalid && form.controls.username.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>
      
      <md-input-container class="w100p mb10">
        <input formControlName="fullname" mdInput placeholder="{{'fullname' | translate }}" type="text">
      </md-input-container>


      <md-input-container class="w100p mb10">
        <input formControlName="password" mdInput placeholder="{{'password' | translate }}" type="password">
      </md-input-container>

      <md-input-container class="w100p mb10">
        <input formControlName="password2" mdInput placeholder="{{'confirm_password' | translate }}" type="password">
      </md-input-container>



      <md-input-container class="w100p mt20">
          <textarea
            formControlName="description"
            placeholder="{{ 'description' | translate }}"
            name="description"
            [mdAutosizeMinRows]="4"
            md-maxlength="1500"
            mdTextareaAutosize
            mdInput></textarea>
      </md-input-container>


      <div *ngIf="nationalities">
        <md-input-container class="w100p">
          <input
            [mdAutocomplete]="auto"
            [formControl]="nationalitiesCtrl"
            placeholder="{{ 'nationality' | translate}}"
            mdInput
            tabindex="-1"
            name="nationality">
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let item of filteredNationalities | async" [value]="item.label" (click)="setNationalityId(item.id)">
            {{ item.label }}
          </md-option>
        </md-autocomplete>
      </div>




      <div class="wp-btw p-mob-btns">
        <button (click)="deleteConfirmPop()" md-button type="button" class="p-btn-d-c w33p bg4 fsz16 ttu">{{'delete_my_account' | translate }}</button>
        <button [ngClass]="{inactive: form.invalid}" md-button type="submit" class="p-btn-d-c w33p ttu">{{ 'save' | translate }}</button>
      </div>
    </div>
  </form>
</md-dialog-content>
