<md-dialog-content>
  <div class="pall20 relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <h2 class="c1 fw700 ttu fsz16 mb15 tac">
      <span class="dibM">{{ 'invite_more_people' | translate }}</span>

      <span
        mdTooltip="{{'enter_an_email_or_username' | translate}}"
        [mdTooltipPosition]="'above'"
        class="p-btn-ques ml10 dibM">?<span class="p-tooltip-box"></span>
      </span>
    </h2>
    <div class="w100p">
      <app-invite-user (onUser)="onUser($event)"></app-invite-user>
    </div>

    <div class="mt15">
      <button [ngClass]="{inactive: users[0] == null}" (click)="sendInvitations()" class="p-btn-d-b w100p fw700 pall15">
        {{'invite_all' | translate}}
      </button>
    </div>
  </div>
</md-dialog-content>
