<md-dialog-content>
  <div class="p-pop-wp-b ph50 pv30">
    <app-crowd-slider [filter]="filter.crowd" (onSlide)="crowdChange($event)"></app-crowd-slider>

    <app-gender-slider [filter]="filter.gender" (onSlide)="genderChange($event)"></app-gender-slider>

    <app-age-slider [filter]="filter.age" (onSlide)="ageChange($event)"></app-age-slider>

    <div class="tac mt40">
      <button md-button type="button" (click)="closeReset()" class="ttu">
        {{ 'cancel' | translate }}
      </button>
      <button md-button type="button" (click)="closeSave()" class="ttu">
        {{ 'save' | translate }}
      </button>
    </div>
  </div>
</md-dialog-content>
