<md-dialog-content>
  <div *ngIf="statistics && event" class="pall30 relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <div class="c1 fw700 ttu fsz16 mb15 tac">{{event.title}}</div>

    <div class="tac mb15">
      <div class="mb5">{{'price' | translate}}: {{event.price}} (€)</div>
      <div class="mb5">{{'participations' | translate}}: {{statistics.nb}}</div>
      <div class="mb5">{{'total_paid' | translate}}: {{statistics.total_paid}} (€)</div>
    </div>


    <canvas baseChart height="400" class="w100p"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
  </div>
</md-dialog-content>


