<md-dialog-content infiniteScroll [scrollWindow]="false" (scrolled)="getNoti(page_nb + 1)" class="h100p">
  <div *ngIf="O4PUser.notifications.length > 0" class="relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div [ngClass]="{'active': item.notif.status != 'displayed'}" *ngFor="let item of O4PUser.notifications" class="p-box-h">
      <div class="fsz12 c1 tar w100p">{{item.notif.since}}</div>
      <span class="p-box-h-ava">
          <span class="p-box-h-ava-bg" [ngStyle]="{'background': 'url(' + (item.notif.image || '../assets/i/icons/user.png') + ') center no-repeat'}"></span>
      </span>
      <span class="p-box-h-info" [htmlTransform]="item.notif.text"></span>


      <div class="p-box-h-func">
        <button mdTooltip="{{'open' | translate}}" [mdTooltipPosition]="'left'" *ngIf="item.notif.type == 'new_message' || item.notif.type == 'new_reply'" (click)="sendMessageTo(item.notif)" class="p-box-h-replay"><img src="../assets/i/icons/replay.png" alt=""/></button>
        <button mdTooltip="{{'remove_notification' | translate}}" [mdTooltipPosition]="'left'" [ngClass]="{active: item.notif.status == 'displayed'}" (click)="updateNoti(item.notif.secure_id)" class="p-box-h-close"></button>
      </div>
    </div>
  </div>


  <div *ngIf="O4PUser.notifications == 0" class="c2 fsz19 fw100 ph20 pv10 h100p relative"><span class="trfM">{{ 'you_have_no_notifications_yet' | translate }}</span></div>
</md-dialog-content>




