<md-dialog-content>
  <form [formGroup]="form" (submit)="logInFunc()" class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <!--<button md-button (click)="FBLogIn()" type="button" class="p-btn-fb w100p">-->
      <!--<img src="assets/i/icons/fb.png" alt="">-->
      <!--<span>{{ 'log_in_with_facebook' | translate }}</span>-->
    <!--</button>-->
    <!--<h2 class="fsz14 c2 mt15 tac">{{ 'log_in_with_facebook' | translate }}</h2>-->


    <md-input-container class="w100p pv5">
      <input formControlName="login" mdInput placeholder="{{'email_nickname' | translate }}" type="text">
      <span class="z-in-err" *ngIf="form.controls.login.invalid && form.controls.login.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>
    <md-input-container class="w100p pv5">
      <input formControlName="password" mdInput placeholder="{{'password' | translate }}" type="password">
      <span class="z-in-err" *ngIf="form.controls.password.invalid && form.controls.password.touched">{{ 'this_is_required' | translate }}</span>
    </md-input-container>



    <button [ngClass]="{inactive: form.invalid}" md-button type="submit" class="p-btn-d-c w100p mt20">{{ 'log_in' | translate }}</button>


    <div class="tac">
      <a (click)="resetPop()" class="fsz14 c6 mt20 db">{{ 'forgot_password' | translate }}</a>
      <a (click)="createAccPop()" class="fsz16 c4 mt15 db">{{ 'dont_have_an_account' | translate }}</a>
    </div>
  </form>
</md-dialog-content>
