table {
  width: 100%;
  max-width: 700px;
}
th, td {
  width: 10%;
  padding: 10px;
}
th {
  color: #002E4D;
}
tr {
  border-top: 4px solid #fff;
  background: #F1F1F0;
  &:nth-child(even) {
    background: #f9f9f9;
  }
  thead &{
    background: #aaa;
  }
}
