<md-dialog-content>
  <table *ngIf="transactions" mdSort (mdSortChange)="sortData($event)">
    <tr>
      <th md-sort-header="name">Date</th>
      <th md-sort-header="calories">Label</th>
      <th md-sort-header="fat">Amount</th>
      <th md-sort-header="carbs">Direction</th>
      <th md-sort-header="protein">Status</th>
    </tr>

    <tr *ngFor="let dessert of sortedData">
      <td>{{dessert.date | date: 'shortDate'}} {{dessert.date | date: 'HH:mm'}}</td>
      <td>{{dessert.label}}</td>
      <td>{{dessert.amount}}</td>
      <td>{{dessert.direction}}</td>
      <td>{{dessert.status}}</td>
    </tr>
  </table>

  <div *ngIf="!transactions" class="tac pv50 ttu c1 fsz16">
    {{'nothing_to_display' | translate}}
  </div>
</md-dialog-content>
