<md-progress-bar
  class="z-progress"
  [color]="'warn'"
  [mode]="'determinate'"
  [value]="progress">
</md-progress-bar>


<app-player></app-player>


<md-sidenav-container [ngClass]="{h100p: isHomePage}">
  <md-sidenav #sidenav align="end">
    <app-menu-pop [sidenav]="sidenav"></app-menu-pop>
  </md-sidenav>



  <app-map [ngClass]="{vh: !isHomePage}"></app-map>

  <router-outlet></router-outlet>

  <app-header [sidenav]="sidenav"></app-header>
</md-sidenav-container>
