<md-dialog-content>
  <div class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <h2 class="fsz24 c2 fw700 mb20">{{ 'account_details' | translate }}</h2>
    <div class="fsz16 c2">{{ 'o4p_balance' | translate }}: <span class="ml15 c3 fsz24 fw700">{{O4PUser.user.wallet || 0 | number: '1.2-2'}} &#8364;</span></div>
    <form [formGroup]="form" (submit)="savePPAddress()" class="fsz16 c6 mb25 p-edit nm">
      <md-input-container class="w100p mb10">
        <input formControlName="email" mdInput placeholder="{{'paypal_address' | translate }}" type="email">
        <span class="z-in-err" *ngIf="form.controls.email.invalid && form.controls.email.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <div class="mt10">
        <button md-button type="submit"  class="p-btn-d-c w100p mt20">{{ 'save' | translate }}</button>
      </div>
    </form>
    <button (click)="creditsChargePop()" class="mv10">
      <span class="p-btn-add dibM mr5"><img src="../assets/i/icons/+.png" alt=""></span>
      <span class="dibM fsz16 c3">{{ 'add_credit_using_bank_card' | translate }}</span>
    </button>
    <button [ngClass]="{inactive: O4PUser.user.wallet == 0}" (click)="claimMoneyPop()">
      <span class="p-btn-add dibM mr5"><img src="../assets/i/icons/+.png" alt=""></span>
      <span class="dibM fsz16 c3">{{ 'claim_money' | translate }}</span>
    </button>
    <div class="mt10">
      <button md-button (click)="transitionsPop()" class="p-btn-d-c w100p mt20">{{ 'list_of_transactions' | translate }}</button>
    </div>
  </div>
</md-dialog-content>
