<div class="mb45">
  <h2 class="c3 ttu fsz12 wp-btw_cen">
              <span [ngClass]="{inactive: !filter.isActive}">
                  {{ 'number_of_people' | translate }}
              </span>

    <md-slide-toggle
      class="mn"
      [(ngModel)]="filter.isActive"
      (ngModelChange)="onSlideEmit()">
    </md-slide-toggle>
  </h2>

  <nouislider
    class="green"
    [ngClass]="{inactive: !filter.isActive}"
    (ngModelChange)="onSlideChange($event)"
    [min]="min"
    [max]="max"
    [connect]="true"
    [tooltips]="[true, true]"
    [step]="1"
    [(ngModel)]="range"></nouislider>
</div>
