:host {display: block;}

app-map{
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wp{
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.fb{
  position: fixed;
  z-index: 2;
  left: 50px;
  bottom: 20px;
  img,span{
    display: inline-block;
    vertical-align: middle;
  }
  img{
    width: 80px;
  }

  span{
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }
}


@media all and (max-width: 1023px) {
  .fb{
    position: fixed;
    z-index: 2;
    left: 10px;
    bottom: 20px;
  }
}
