<div class="p-home-b wp-btw">
  <button (click)="mobileMenu = !mobileMenu" [ngClass]="{active: mobileMenu}" class="p-home-mobile-a p-btn-o">
    <span class="p-home-mobile-a-item"></span>
  </button>
  <div [ngClass]="{active: mobileMenu}" class="p-home-b-a wp-btw">
    <div id="home-intro-four" class="p-home-filter">
      <div [ngClass]="{active: filter.city.isActive}"
           mdTooltip="{{'filter_city' | translate}}"
           [mdTooltipPosition]="'above'"
           class="p-home-filter-input">
        <span
          (click)="cityFilterPop()"
          [inlineSVG]="'../assets/i/svg/city.svg'"
          class="p-btn-i-img"
        ></span>
      </div>

      <app-event-nature [isFilter]="true" (onSet)="onNatureSet($event)"></app-event-nature>

      <app-options [isFilter]="true" (onOption)="onOption($event)"></app-options>


      <button
        [ngClass]="{active: filter.more.isActive}"
        (click)="openFilterMore()"
        mdTooltip="{{'more' | translate}}"
        [mdTooltipPosition]="'above'"
        class="p-btn-i p-mob-hide">
        <span
          [inlineSVG]="'../assets/i/svg/more.svg'"
          class="p-btn-i-img"
        ></span>
      </button>
    </div>

    <div class="p-home-addEv">
      <button md-button (click)="newEventPop()" class="p-btn-ev" id="home-intro-six">
        <img src="../assets/i/icons/+.png" alt="">
        <span class="p-btn-ev-text">{{ 'or_make_yours' | translate }}</span>
      </button>
      <div class="p-home-addEv-text wsn">...{{ 'host_a_Party' | translate }}</div>
    </div>
  </div>


  <div infiniteScroll [scrollWindow]="false" (scrolled)="loadMoreEvents()" class="p-home-b-b">
    <div class="wp-btw">
      <div *ngIf="events[0] == null" class="p-spike-a">
        <div class="p-box-a-404" [ngStyle]="{'background': '#e9e9e9 url(../assets/i/icons/logo-a.jpg) left center no-repeat'}">
          <div class="p-box-a-404-text">
            {{ 'oops_nothing_to_display_move_the_map' | translate }}
          </div>
        </div>
      </div>

      <div *ngFor="let item of events"
           [ngClass]="{w31p: item.size == 'small', w48p:item.size == 'medium', w100p:item.size == 'big'}"
           class="anim-e p-spike-a">
        <div [routerLink]="['event', item.secure_id]" *ngIf="item.size == 'medium'" class="p-box-b mb20">
          <span class="p-box-b-bg" [ngStyle]="{'background': 'url(' + (item.cover_picture || '../assets/i/icons/logo-a.jpg') + ') center no-repeat'}"></span>
          <div class="p-box-a-social">
            <a (appShare)="onClick($event)" [share]="{type: 'fb', event: item}" href=""><img src="../assets/i/icons/fb.png" alt=""></a>
            <a (appShare)="onClick($event)" [share]="{type: 'tw', event: item}" href=""><img src="../assets/i/icons/tw.png" alt=""></a>
          </div>

          <div class="p-box-b-text">
            {{item.title}}
          </div>
        </div>

        <div [routerLink]="['event', item.secure_id]" *ngIf="item.size == 'small'" class="p-box-c mb20">
          <span class="p-box-b-bg" [ngStyle]="{'background': 'url(' + (item.cover_picture || '../assets/i/icons/logo-a.jpg') + ') center no-repeat'}"></span>
          <div class="p-box-a-social">
            <a (appShare)="onClick($event)" [share]="{type: 'fb', event: item}" href=""><img src="../assets/i/icons/fb.png" alt=""></a>
            <a (appShare)="onClick($event)" [share]="{type: 'tw', event: item}" href=""><img src="../assets/i/icons/tw.png" alt=""></a>
          </div>

          <div class="p-box-b-text">
            {{item.title}}
          </div>
        </div>

        <div [routerLink]="['event', item.secure_id]" *ngIf="item.size == 'big'" class="p-box-a mb20">
          <div class="p-box-a-bg">
            <span [ngStyle]="{'background': 'url(' + (item.image || '../assets/i/icons/logo-a.jpg') + ') center no-repeat'}"></span>
          </div>


          <div class="p-box-a-social">
            <a (appShare)="onClick($event)" [share]="{type: 'fb', event: item}" href=""><img src="../assets/i/icons/fb.png" alt=""></a>
            <a (appShare)="onClick($event)" [share]="{type: 'tw', event: item}" href=""><img src="../assets/i/icons/tw.png" alt=""></a>
          </div>


          <div class="p-box-a-def">
            <div class="p-box-a-def-info">
              <div class="mb5 wsn">
                <img class="mr5" src="../assets/i/icons/mark.png" alt="">
                {{item.city_country}}
              </div>


              <div>
                <span class="mr10">
                  <img class="mr5" src="../assets/i/icons/cal.png" alt="">
                  {{item.start_date | date:'MMM dd'}}
                </span>
                <span class="mr10">
                  <img class="mr5" src="../assets/i/icons/cal.png" alt="">
                  {{item.start_date | date:'hh:mm'}}
                </span>
              </div>
            </div>
            <div class="p-box-a-def-title">
              {{item.title}}
            </div>
          </div>


          <div class="p-box-a-hov">
            <div class="p-box-a-hov-a">
              <app-options [inputOptions]="item.options" [disableToggle]="true"></app-options>
            </div>

            <div class="p-box-a-hov-b">
              {{item.title}}
            </div>

            <div class="p-box-a-hov-c">
              <span>
                  {{ 'hosted_by' | translate }}
              </span>
              {{item.username}}
            </div>

            <div class="p-box-a-hov-d">
              <img class="dibT mr10" src="../assets/i/icons/cal.png" alt="">
              {{item.start_date | date:'MMM dd, yyyy'}}
              <img class="dibT mh10" src="../assets/i/icons/mark.png" alt="">
              {{item.city_country}}
            </div>
          </div>


          <div class="p-box-a-user">
            <div class="p-box-a-user">
              <span class="p-box-a-user-ava"
                    [ngStyle]="{'background': 'url(' + (item.user_picture != null ? item.user_picture : '../assets/i/icons/user.png') + ') center no-repeat'}"></span>

              <span *ngIf="item.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img
                src="../assets/i/icons/king.png" alt=""></span>
              <span *ngIf="item.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png"
                                                                                          alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button id="home-intro-three" (click)="predefinedFilterFunc('around')" mdTooltip="{{'around_me' | translate}}" [mdTooltipPosition]="'above'" class="fb p-around-me">
    <img src="../assets/i/icons/aim.png" alt="">
  </button>

  <div class="p-home-b-c">
    <div class="p-home-b-c-title">{{ 'hover_here_to_see_a_filter' | translate }}</div>
    <div class="p-home-b-c-shadow"></div>
    <button [ngClass]="{'p-btn-c': filter.predefinedFilter == 'reset'}" (click)="predefinedFilterFunc('reset')"
            class="p-btn-b ph15">
      {{ 'reset' | translate }}
    </button>
    <button [ngClass]="{'p-btn-c': filter.predefinedFilter == 'popular'}" (click)="predefinedFilterFunc('popular')"
            class="p-btn-b">{{ 'most_popular' | translate }}
    </button>
    <!--<button [ngClass]="{'p-btn-c': filter.predefinedFilter == 'around'}" (click)="predefinedFilterFunc('around')"-->
            <!--class="p-btn-b">{{ 'predefined_around' | translate }}-->
    <!--</button>-->
    <button [ngClass]="{'p-btn-c': filter.predefinedFilter == 'this_week'}" (click)="predefinedFilterFunc('this_week')"
            class="p-btn-b">{{ 'this_week' | translate }}
    </button>
  </div>
</div>


