.e-menu{
  width: 100%;
  padding: 35px 30px 70px;
  &-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px;
  }

  &-dd{
    &-a{
      width: 100%;
      min-width: 160px;
      text-align: left !important;
      padding: 2px 0 !important;
      color: white !important;

      &-flag{
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        margin: 0 5px;
      }

      &-text{
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
      }
    }

    &-b{
      @extend .e-menu-dd-a;
      //color: black !important;
      min-width: 113px;
      padding: 5px 0 !important;
    }

    &-box{
      background: #262626 !important;
    }
  }

  &-user{
    text-align: center;
    padding: 34px 0 31px;
    &-ava{
      margin: 0 auto 12px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-size: cover !important;
    }
    &-name{
      font-size: 18px;
      color: white;
      margin: 0 0 4px;
    }
    &-mail{
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &-partners{
    font-weight: 700;
    padding: 55px 0 31px;
    text-align: center;
    &-link{
      display: inline-block;
      opacity: .3;
      margin: 35px auto 0;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      transition: all 200ms linear;
      &:hover{
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }

  &-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 15px 19px;
    background: #1c1c1c;
  }
}
