<md-dialog-content class="w100p">
  <div class="e-menu">
    <div class="relative">
      <div *ngIf="languages.arr[0] != null">
        <button md-button [mdMenuTriggerFor]="leng" class="e-menu-dd-a">
          <img class="e-menu-dd-a-flag" [src]="languages.current.uri || 'assets/i/icons/flag.png'" alt="">
          <span class="e-menu-dd-a-text">{{languages.current.language_label_locale}}</span>
        </button>
        <md-menu #leng="mdMenu">
          <div class="e-menu-dd-box">
            <button
              *ngFor="let item of languages.arr"
              (click)="setLanguage(item)"
              class="e-menu-dd-b">
              <img class="e-menu-dd-a-flag" [src]="item.uri" alt="">
              <span class="e-menu-dd-a-text">{{item.language_label_locale}}</span>
            </button>
          </div>
        </md-menu>
      </div>

      <button (click)="closeMenuPop()" type="button" class="e-menu-close p-btn-o"><img src="../assets/i/icons/close.png" alt=""></button>

      <!--<div *ngIf="languages.arr[0] != null" appToggle class="z-dd">-->
        <!--<button class="z-dd-btn" type="button">-->
          <!--<img class="z-dd-btn-flag" [src]="languages.current.uri || 'assets/i/icons/flag.png'" alt="">-->
          <!--<input class="z-dd-btn-input" type="text" [(ngModel)]="languages.current.language_label_locale">-->
          <!--<img class="z-dd-btn-angle" src="../assets/i/icons/angle.png" alt="">-->
        <!--</button>-->

        <!--<div class="z-dd-box">-->
          <!--<button *ngFor="let item of languages.arr"-->
                  <!--(click)="setLanguage(item)"-->
                  <!--[ngClass]="{dn: item.id == languages.current.id}"-->
                  <!--type="button"-->
                  <!--class="z-dd-box-btn">-->
              <!--<span *ngIf="item.id != languages.current.id" class="w100p">-->
                <!--<img [src]="item.uri" alt="">-->
                <!--{{item.language_label_locale}}-->
              <!--</span>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    </div>


    <div class="e-menu-user">
      <div *ngIf="O4PUser.loggedIn">
        <a [routerLink]="['/user', O4PUser.user.secure_id]" (click)="closeMenuPop()" class="db">
          <div class="e-menu-user-ava" [ngStyle]="{'background': 'url(' + O4PUser.user.image + ') center no-repeat'}"></div>
          <div class="e-menu-user-name">{{O4PUser.user.username}}</div>
          <div class="e-menu-user-mail">{{O4PUser.user.email}}</div>
        </a>

        <a (click)="creditsPop()" class="dibM mt10 mb30">
          <img class="dibM mr10" src="../assets/i/icons/wallet.png" alt="">
          <span class="dibM cw">{{O4PUser.user.wallet || 0 | number: '1.2-2'}} &#8364;</span>
        </a>
      </div>





      <button *ngIf="O4PUser.loggedIn" (click)="logOut()" type="button" class="trn p-btn-o ttu mt25">
        <img class="dibM mr10" src="/assets/i/icons/logout.png" alt="">
        <span class="dibM c7">{{ 'log_out' | translate }}</span>
      </button>


      <div *ngIf="!O4PUser.loggedIn">
        <div class="mb25">
          <button md-button (click)="FBLogIn()" type="button" class="p-btn-fb w100p">
            <img *ngIf="O4PUser.showLoadingFb" src="/assets/i/icons/loading.gif" alt="">
            <span *ngIf="O4PUser.showLoadingFb">{{ 'loading_fb' | translate }}</span>
            <span *ngIf="!O4PUser.showLoadingFb">{{ 'log_in_with_facebook' | translate }}</span>
            <img *ngIf="!O4PUser.showLoadingFb" src="/assets/i/icons/fb.png" alt="">
          </button>
        </div>

        <button (click)="logInPop();" type="button" class="trn p-btn-o ttu">
          <!--<img class="dibM mr10 inactive" style="height: 25px;" src="../assets/i/icons/login.png" alt="">-->
          <span class="dibM c7 ttu">{{ 'log_in' | translate }}</span>
        </button>

        <span class="c7 fsz12 mh15">{{'or' | translate}}</span>

        <button (click)="signInPop();" type="button" class="trn p-btn-o ttu">
          <!--<img class="dibM mr10 inactive" style="height: 25px;" src="../assets/i/icons/login.png" alt="">-->
          <span class="dibM c7 ttu">{{ 'sign_up' | translate }}</span>
        </button>
      </div>
    </div>


    <hr class="p-hr">


    <div class="e-menu-partners pr40 pl30">
      <h2 class="fsz30 c7 ttu tac">{{ 'partners' | translate }}</h2>

      <a class="e-menu-partners-link" target="_blank" href="http://rollandev.com/"><img src="../assets/i/demo/rolland.png" alt=""></a>

      <a class="e-menu-partners-link" target="_blank" href="https://blog.open4partiz.com"><img src="../assets/i/demo/blog.png" width="150px" alt=""></a>
    </div>
  </div>


  <div class="e-menu-footer">
    <a (click)="termsPop()" class="c7 fsz13 ttu">{{ 'terms' | translate }}</a>
    <a (click)="feedbackPop()" class="c7 fsz13 ttu">{{ 'site_feedback' | translate }}</a>
  </div>
</md-dialog-content>

