<md-dialog-content>
  <form *ngIf="update" #f="ngForm" class="p-pop-wp-b ph40 pv20">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div class="mb35">
      <h2 class="tac ttu fsz16 c2 mt10 mb25">{{ 'what_do_you_want_people_to' | translate }}</h2>


      <md-radio-group [(ngModel)]="update.condition" (change)="checkCondition()" name="condition" class="w100p">
        <md-radio-button
          [value]="'price'"
          class="w100p pv5">
          {{ 'pay_a_share' | translate }}
          <span [ngClass]="{inactive: !(update.condition == 'price')}">
                <label class="p-input-b ml65">
                  <input [(ngModel)]="update.price" mdInput name="price" class="p-input-b-in" type="text">
                </label>
                &#8364;
              </span>
        </md-radio-button>


        <md-radio-button
          [value]="'byos'"
          class="w100p pv10">
          {{ 'bring_your_own_stuff' | translate }}
        </md-radio-button>


        <md-radio-button
          [value]="'list'"
          class="w100p pv10">
          {{ 'every_one_brings_something_from_a' | translate }}


          <div *ngIf="update.condition == 'list'" class="pt15">
            <div *ngFor="let row of items; let index = index;" class="wp-btw_cen">
              <md-input-container class="z-box-b-a">
                <input
                  placeholder="{{'item' | translate}}"
                  [(ngModel)]="row.label"
                  name="item-{{index}}"
                  (keydown)="checkCondition()"
                  type="text"
                  mdInput
                  required>

                <div *ngIf="!row.label" class="z-in-err">
                  {{ 'this_is_required' | translate }}
                </div>
              </md-input-container>

              <div class="z-box-b-b">
                <md-select
                  placeholder="{{ 'unit' | translate }}"
                  [(ngModel)]="row.unit"
                  (keydown)="checkCondition()"
                  name="unit-{{index}}"
                  required
                  class="w100p">
                  <md-option value="Piece">{{'piece' | translate}}</md-option>
                  <md-option value="KG">{{'kg' | translate}}</md-option>
                  <md-option value="Litre">{{'litre' | translate}}</md-option>
                </md-select>

                <div *ngIf="!row.unit" class="z-in-err-select">
                  {{ 'this_is_required' | translate }}
                </div>
              </div>


              <md-input-container class="z-box-b-c">
                <input
                  placeholder="{{ 'quantity' | translate }}"
                  [(ngModel)]="row.quantity"
                  (keydown)="checkCondition()"
                  name="quantity-{{index}}"
                  type="text"
                  pattern="\d*"
                  maxlength="5"
                  mdInput
                  required>

                <div *ngIf="!row.quantity" class="z-in-err">
                  {{ 'this_is_required' | translate }}
                </div>
              </md-input-container>


              <button
                (click)="removeListRow(row, index)"
                *ngIf="index != 0"
                type="button"
                class="p-btn-o z-box-b-d">
                <img src="assets/i/icons/close_btn.png" style="width: 30px;" alt=""/>
              </button>
            </div>

            <div *ngIf="!!items[0].label && !!items[0].unit" class="w100p tac">
              <button md-button (click)="addListRow()" type="button" class="md-raised">{{'add_one_more_item' | translate}}</button>
            </div>
          </div>
        </md-radio-button>


        <md-radio-button
          [value]="'free'"
          class="w100p pv10">
          {{ 'ill_take_care_of_it_free' | translate }}
        </md-radio-button>
      </md-radio-group>
    </div>


    <div class="mb35">
      <h2 class="tac ttu fsz16 c2 mt10 mb25">{{ 'event_limitations' | translate }}</h2>


      <md-radio-group [(ngModel)]="update.o4p" name="limitations" class="w100p">
        <md-radio-button
          [value]="'o4p'"
          class="w100p pv5">
          <span class="dibBa">{{ 'no_it_is_a_full_o4p' | translate }}</span>
          <span
            mdTooltip="{{'if_you_create_a_full_open4partiz_you' | translate}}"
            [mdTooltipPosition]="'above'"
            class="p-btn-ques ml10 dibBa">?</span>
        </md-radio-button>

        <md-radio-button
          [value]="'limitations'"
          class="w100p pv5">
              <span
                mdTooltip="{{'age_range_gender_of_people_etc' | translate}}"
                [mdTooltipPosition]="'above'">
                {{ 'yes_id_like_to_specialty_some_limitations' | translate }}
              </span>
        </md-radio-button>
      </md-radio-group>


      <div [ngClass]="{inactive: update.o4p === 'o4p'}" class="ph60 mb100">
        <div class="mv15">
          <h2 class="c10 tac ttu fsz12 mb10">
            {{ 'i_want_to_validate_attendees' | translate }}
          </h2>
          <md-radio-group [(ngModel)]="update.event_type" name="invitation" class="wp-btw p-mob-radio w100p">
            <md-radio-button
              mdTooltip="{{'anyone_can_participate' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'public'" class="dibM mn">
              {{ 'public' | translate }}
            </md-radio-button>

            <md-radio-button
              mdTooltip="{{'the_event_will_be_public_but_you' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'validation'" class="dibM mn">
              {{ 'on_validation' | translate }}
            </md-radio-button>

            <md-radio-button
              mdTooltip="{{'only_persons_logged_in_and_received' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'invitation'" class="dibM mn">
              {{ 'on_invitation' | translate }}
            </md-radio-button>
          </md-radio-group>
        </div>


        <app-crowd-slider [filter]="limitations.crowd" (onSlide)="crowdChange($event)"></app-crowd-slider>

        <app-gender-slider [filter]="limitations.gender" (onSlide)="genderChange($event)"></app-gender-slider>

        <app-age-slider [filter]="limitations.age" (onSlide)="ageChange($event)"></app-age-slider>
      </div>
    </div>


    <h2 class="tac ttu fsz16 c2 mb25">{{ 'event_conditions' | translate }}</h2>


    <app-options [inputOptions]="update.options" (onOption)="onOption($event)"></app-options>


    <md-input-container class="w100p mt20">
          <textarea
            [(ngModel)]="update.description"
            placeholder="{{ 'description' | translate }}"
            name="description"
            [mdAutosizeMinRows]="4"
            md-maxlength="1500"
            mdTextareaAutosize
            mdInput></textarea>
    </md-input-container>


    <button (click)="save()" md-button type="button" class="p-btn-d-c w100p">
      {{ 'update_event' | translate }}
    </button>
  </form>
</md-dialog-content>


