<md-dialog-content>
  <form #f="ngForm" (submit)="submitUpload(f)" class="relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <app-upload [file]="file" [isMultiple]="true" (onFile)="onFileChange($event)"></app-upload>

    <div class="pall20">
      <md-input-container class="w100p mb15">
        <input [(ngModel)]="file.userText" #label="ngModel" name="label" required mdInput placeholder="{{'media_cover' | translate }}" type="text">

        <span class="z-in-err" *ngIf="label.errors && (label.dirty || label.touched)">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <button md-button type="submit" [ngClass]="{inactive: f.invalid}" class="p-btn-d-c w100p ttu">
        {{ 'upload' | translate }}
      </button>
    </div>
  </form>
</md-dialog-content>
