<md-dialog-content>
  <div class="p-pop-wp">
    <div *ngIf="tab == 1">
      <img src="./assets/i/tour/1.jpg" class="w100p" alt="">

      <div class="pall20">
        <h2 class="fsz24 c1 fw700 mb20 wp-btw_cen">
          <span>{{ 'welcome_to_open4partiz' | translate }}</span>

          <div *ngIf="languages.arr[0] != null">
            <button md-button [mdMenuTriggerFor]="leng" class="e-menu-dd-a">
              <img class="e-menu-dd-a-flag" [src]="languages.current.uri || 'assets/i/icons/flag.png'" alt="">
              <span class="e-menu-dd-a-text_a">{{languages.current.language_label_locale}}</span>
            </button>
            <md-menu #leng="mdMenu">
              <div class="e-menu-dd-box">
                <button
                  *ngFor="let item of languages.arr"
                  (click)="setLanguage(item)"
                  class="e-menu-dd-b">
                  <img class="e-menu-dd-a-flag" [src]="item.uri" alt="">
                  <span class="e-menu-dd-a-text">{{item.language_label_locale}}</span>
                </button>
              </div>
            </md-menu>
          </div>
        </h2>
        <h2 class="fsz18 c2 fw700 mb80">{{ 'open4Partiz_will_help_you_create_an' | translate }}</h2>
      </div>
    </div>
    <div *ngIf="tab == 2">
      <img src="./assets/i/tour/2.gif" class="w100p" alt="">

      <div class="pall20">
        <h2 class="fsz24 c1 fw700 mb20">{{ 'events' | translate }}</h2>
        <h2 class="fsz18 c2 fw700 mb80">{{ 'there_are_basically_3_types_of' | translate }}</h2>
      </div>
    </div>
    <div *ngIf="tab == 3">
      <img src="./assets/i/tour/3.gif" class="w100p" alt="">

      <div class="pall20">
        <h2 class="fsz24 c1 fw700 mb20">{{ 'profile_pages' | translate }}</h2>
        <h2 class="fsz18 c2 fw700 mb80">{{ 'each_user_has_a_profile_page' | translate }}</h2>
      </div>
    </div>
    <div *ngIf="tab == 4">
      <img src="./assets/i/tour/4.gif" class="w100p" alt="">

      <div class="pall20">
        <h2 class="fsz24 c1 fw700 mb20">{{ 'have_fun' | translate }}</h2>
        <h2 class="fsz18 c2 fw700 mb80">{{ 'our_wish_is_to_help_you' | translate }}</h2>
      </div>
    </div>


    <div class="p-pop-footer">
      <div class="w33p relative">
        <button md-button type="button" *ngIf="tab != 1" (click)="setTab(tab - 1)" class="p-btn-d-a w100p">{{ 'go_back' | translate }}</button>
      </div>
      <div class="w33p relative">
        <button md-button type="button" (click)="close()" class="p-btn-d-a w100p">{{ 'skip_tour' | translate }}</button>
      </div>
      <div class="w33p relative">
        <button md-button type="button" *ngIf="tab != 4" (click)="setTab(tab + 1)" class="p-btn-d-b w100p">{{ 'keep_going' | translate }}</button>
        <button md-button type="button" *ngIf="tab == 4" (click)="close()" class="p-btn-d-b w100p">{{ 'end' | translate }}</button>
      </div>
    </div>
  </div>
</md-dialog-content>
