.e-menu{
  &-dd{
    &-a{
      width: 100%;
      min-width: 160px;
      text-align: left !important;
      padding: 2px 0 !important;
      color: white !important;

      &-flag{
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        margin: 0 5px;
      }

      &-text{
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;

        &_a{
          color: black;
        }
      }
    }

    &-b{
      @extend .e-menu-dd-a;
      //color: black !important;
      min-width: 113px;
      padding: 5px 0 !important;
    }

    &-box{
      background: #262626 !important;
    }
  }
}
