<md-dialog-content>
  <div class="pall30">
    <h2 class="fsz20 c1 fw700 tac ttu mb50">
      {{user.title}}
    </h2>
    <div class="wp-arnd">
      <button md-button (click)="confirm(false)" class="">{{ 'cancel' | translate }}</button>
      <button md-button (click)="confirm(true)" class="cw bg4">{{ 'confirm' | translate }}</button>
    </div>

  </div>
</md-dialog-content>

