.anim{
  &-a{
    &.ng-hide-add {
      position: absolute;
      left: 0;
      right: 0;
      animation: 500ms tab;
    }
    &.ng-hide-remove {
      position: absolute;
      left: 0;
      right: 0;
      animation: 500ms tab reverse;
    }
  }

  &-b{
    transition: all 200ms linear;
    &.ng-leave,&.ng-enter {
      position: absolute;
      left: 0;
      right: 0;
    }

    &.ng-enter {
      opacity: 0;
      transition: all 300ms linear;
      &-active{
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: all 300ms linear;
      &-active{
        opacity: 0;
      }
    }
  }

  &-c{
    animation: editBg 2s linear infinite;
  }

  &-d{
    transition: all 200ms linear;
    &.ng-move{
      opacity: 0;
      transform: scale(.9);
      &-active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &-e{
    &.ng{
      &-enter,
      &-move {
        transition: all .3s linear;
        &-stagger{
          transition-delay: .2s;
        }
      }

      &-enter,
      &-move{
        opacity: 0;
        transform: scale3d(.6, .6, .6);
        &-active{
          opacity: 1;
          transform: none;
        }
      }

      &-leave{
        display: none;
      }
    }
  }

  &-f{
    background: linear-gradient(140deg, #ffffff, #000000);
    background-size: 400% 400%;
    animation: AnimationName 30s ease infinite;
  }

  &-g{
    background: repeating-linear-gradient(
                    45deg,
                    #aeaeae,#aeaeae 5%,
                    #9f9f9f 0,#9f9f9f 10%
    );
    background-size: 100px 100px;
    animation: upload 10s linear infinite;
  }

  &-h{
    background:
    linear-gradient(135deg, #aeaeae 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #aeaeae 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #9f9f9f 25%, transparent 25%),
    linear-gradient(45deg, #9f9f9f 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #D0D0D0;
    animation: upload-a 10s linear infinite alternate;
  }
}

//////////////////////////////////////////////////////////////////////////////////////

@keyframes AnimationName {
  0%{background-position:0% 77%}
  50%{background-position:100% 24%}
  100%{background-position:0% 77%}
}

@keyframes tab {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

@keyframes editBg {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(.9);
  }
}

@keyframes upload {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

@keyframes upload-a {
  from{
    background-position: 50px 0, 50px 0, 0 0, 0 0;
  }

  to{
    background-position: 50px -100px, 50px -100px, 0 -100px, 0 -100px;
  }
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}






