.cw{color: white !important;}
.c1{color: rgba(0, 0, 0, 0.5);}
.c2{color: #b8b8b8;}
.c3{color: #00dbb8 !important;}
.c4{color: #ff1644 !important;}
.c5{color: #ffa200;}
.c6{color: #000;}
.c7{color: rgba(255, 255, 255, 0.5);}
.c8{color: #2e2e2e;}
.c9{color: #e9e9e9;}
.c10{color: #1c407b;}


.bgW{background: white !important;}
.bg1{background: rgba(0, 0, 0, 0.5) !important;}
.bg2{background: #b8b8b8 !important;}
.bg3{background: #00dbb8 !important;}
.bg4{background: #ff1644 !important;}
.bg5{background: #ffa200 !important;}
.bg7{background: rgba(255, 255, 255, 0.5) !important;}
.bg8{background: #2e2e2e !important;}
.bg9{background: #e9e9e9 !important;}
.bg10{background: #1c407b !important;}
