*{
  box-sizing: border-box !important;
  &:focus{
    outline: none;
  }
}
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
b,strong{
  font-weight: 700;
}
textarea{
  vertical-align: middle;
}
button{
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
[hidden]{
  display: none !important;
}
.inactive{
  pointer-events: none;
  opacity: .3;
  &-a{
    pointer-events: none;
    background: #747474;
    color: black;
  }
  &-b{
    pointer-events: none;
  }
}
.scrollcon-x {
  overflow-x: scroll;
}
[disabled], [disabled="disabled"]{
  cursor: no-drop !important;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wsn{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wsw{
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
}
.wspl{
  white-space: pre-line;
}
.w33p{
  width: 33.333%;
}
.w50p{
  width: 50%;
}
.h100p{
  height: 100%;
}
.w100p{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.tac{
  text-align: center;
}
.tal{
  text-align: left;
}
.tar{
  text-align: right;
}
.ttu{
  text-transform: uppercase;
}
.ovsy{
  overflow-y: scroll;
}
.ovsx{
  overflow-x: scroll;
}
.ovh{
  overflow: hidden;
}
.vh{
  visibility: hidden;
}
.relative{
  position: relative;
}
.trfM{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.vh{
  visibility: hidden;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
.dibT{
  display: inline-block;
  vertical-align: top;
}
.dibB{
  display: inline-block;
  vertical-align: bottom;
}
.dibBa{
  display: inline-block;
  vertical-align: baseline;
}
.db{
  display: block;
}
.dn{
  display: none;
}
.op0{
  opacity: 0;
}
.op1{
  opacity: 1;
}
.flu{
  display: inline-block;
  &:first-letter{
    text-transform: uppercase;
  }
}
.underline{
  text-decoration: underline;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.wp{
  &-btw {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &_cen {
      @extend .wp-btw;
      align-items: center !important;
    }
    &_end {
      @extend .wp-btw;
      align-items: flex-end;
    }
    &_start {
      @extend .wp-btw;
      justify-content: flex-start;
    }
  }
  &-arnd {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    &_cen {
      @extend .wp-arnd;
      align-items: center;
    }
    &_start {
      @extend .wp-arnd;
      align-items: flex-start;
    }
  }
  &-cen{
    display: flex;
    align-items: center;
    justify-content: center;
    &_start {
      @extend .wp-cen;
      justify-content: flex-start;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.m{
  &0a{
    margin: 0 auto;
  }


  &n{
    margin: 0;
  }


  &all{
    &5{
      margin: 5px;
    }
    &10{
      margin: 10px;
    }
    &15{
      margin: 15px;
    }
    &20{
      margin: 20px;
    }
    &25{
      margin: 25px;
    }
    &30{
      margin: 30px;
    }
    &35{
      margin: 35px;
    }
    &40{
      margin: 40px;
    }
    &45{
      margin: 45px;
    }
    &50{
      margin: 50px;
    }
    &55{
      margin: 55px;
    }
    &60{
      margin: 60px;
    }
    &65{
      margin: 65px;
    }
    &70{
      margin: 70px;
    }
    &75{
      margin: 75px;
    }
    &80{
      margin: 80px;
    }
    &85{
      margin: 85px;
    }
    &90{
      margin: 90px;
    }
    &95{
      margin: 95px;
    }
    &100{
      margin: 100px;
    }
  }


  &v{
    &5{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &10{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &15{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &20{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &25{
      margin-top: 25px;
      margin-bottom: 25px;
    }
    &30{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &35{
      margin-top: 35px;
      margin-bottom: 35px;
    }
    &40{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    &45{
      margin-top: 45px;
      margin-bottom: 45px;
    }
    &50{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &55{
      margin-top: 55px;
      margin-bottom: 55px;
    }
    &60{
      margin-top: 60px;
      margin-bottom: 60px;
    }
    &65{
      margin-top: 65px;
      margin-bottom: 65px;
    }
    &70{
      margin-top: 70px;
      margin-bottom: 70px;
    }
    &75{
      margin-top: 75px;
      margin-bottom: 75px;
    }
    &80{
      margin-top: 80px;
      margin-bottom: 80px;
    }
    &85{
      margin-top: 85px;
      margin-bottom: 85px;
    }
    &90{
      margin-top: 90px;
      margin-bottom: 90px;
    }
    &95{
      margin-top: 95px;
      margin-bottom: 95px;
    }
    &100{
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }


  &h{
    &5{
      margin-left: 5px;
      margin-right: 5px;
    }
    &10{
      margin-left: 10px;
      margin-right: 10px;
    }
    &15{
      margin-left: 15px;
      margin-right: 15px;
    }
    &20{
      margin-left: 20px;
      margin-right: 20px;
    }
    &25{
      margin-left: 25px;
      margin-right: 25px;
    }
    &30{
      margin-left: 30px;
      margin-right: 30px;
    }
    &35{
      margin-left: 35px;
      margin-right: 35px;
    }
    &40{
      margin-left: 40px;
      margin-right: 40px;
    }
    &45{
      margin-left: 45px;
      margin-right: 45px;
    }
    &50{
      margin-left: 50px;
      margin-right: 50px;
    }
    &55{
      margin-left: 55px;
      margin-right: 55px;
    }
    &60{
      margin-left: 60px;
      margin-right: 60px;
    }
    &65{
      margin-left: 65px;
      margin-right: 65px;
    }
    &70{
      margin-left: 70px;
      margin-right: 70px;
    }
    &75{
      margin-left: 75px;
      margin-right: 75px;
    }
    &80{
      margin-left: 80px;
      margin-right: 80px;
    }
    &85{
      margin-left: 85px;
      margin-right: 85px;
    }
    &90{
      margin-left: 90px;
      margin-right: 90px;
    }
    &95{
      margin-left: 95px;
      margin-right: 95px;
    }
    &100{
      margin-left: 100px;
      margin-right: 100px;
    }
  }


  &l{
    &5{
      margin-left: 5px;
    }
    &10{
      margin-left: 10px;
    }
    &15{
      margin-left: 15px;
    }
    &20{
      margin-left: 20px;
    }
    &25{
      margin-left: 25px;
    }
    &30{
      margin-left: 30px;
    }
    &35{
      margin-left: 35px;
    }
    &40{
      margin-left: 40px;
    }
    &45{
      margin-left: 45px;
    }
    &50{
      margin-left: 50px;
    }
    &55{
      margin-left: 55px;
    }
    &60{
      margin-left: 60px;
    }
    &65{
      margin-left: 65px;
    }
    &70{
      margin-left: 70px;
    }
    &75{
      margin-left: 75px;
    }
    &80{
      margin-left: 80px;
    }
    &85{
      margin-left: 85px;
    }
    &90{
      margin-left: 90px;
    }
    &95{
      margin-left: 95px;
    }
    &100{
      margin-left: 100px;
    }
  }


  &r{
    &5{
      margin-right: 5px;
    }
    &10{
      margin-right: 10px;
    }
    &15{
      margin-right: 15px;
    }
    &20{
      margin-right: 20px;
    }
    &25{
      margin-right: 25px;
    }
    &30{
      margin-right: 30px;
    }
    &35{
      margin-right: 35px;
    }
    &40{
      margin-right: 40px;
    }
    &45{
      margin-right: 45px;
    }
    &50{
      margin-right: 50px;
    }
    &55{
      margin-right: 55px;
    }
    &60{
      margin-right: 60px;
    }
    &65{
      margin-right: 65px;
    }
    &70{
      margin-right: 70px;
    }
    &75{
      margin-right: 75px;
    }
    &80{
      margin-right: 80px;
    }
    &85{
      margin-right: 85px;
    }
    &90{
      margin-right: 90px;
    }
    &95{
      margin-right: 95px;
    }
    &100{
      margin-right: 100px;
    }
  }


  &t{
    &5{
      margin-top: 5px;
    }
    &10{
      margin-top: 10px;
    }
    &15{
      margin-top: 15px;
    }
    &20{
      margin-top: 20px;
    }
    &25{
      margin-top: 25px;
    }
    &30{
      margin-top: 30px;
    }
    &35{
      margin-top: 35px;
    }
    &40{
      margin-top: 40px;
    }
    &45{
      margin-top: 45px;
    }
    &50{
      margin-top: 50px;
    }
    &55{
      margin-top: 55px;
    }
    &60{
      margin-top: 60px;
    }
    &65{
      margin-top: 65px;
    }
    &70{
      margin-top: 70px;
    }
    &75{
      margin-top: 75px;
    }
    &80{
      margin-top: 80px;
    }
    &85{
      margin-top: 85px;
    }
    &90{
      margin-top: 90px;
    }
    &95{
      margin-top: 95px;
    }
    &100{
      margin-top: 100px;
    }
  }


  &b{
    &5{
      margin-bottom: 5px;
    }
    &10{
      margin-bottom: 10px;
    }
    &15{
      margin-bottom: 15px;
    }
    &20{
      margin-bottom: 20px;
    }
    &25{
      margin-bottom: 25px;
    }
    &30{
      margin-bottom: 30px;
    }
    &35{
      margin-bottom: 35px;
    }
    &40{
      margin-bottom: 40px;
    }
    &45{
      margin-bottom: 45px;
    }
    &50{
      margin-bottom: 50px;
    }
    &55{
      margin-bottom: 55px;
    }
    &60{
      margin-bottom: 60px;
    }
    &65{
      margin-bottom: 65px;
    }
    &70{
      margin-bottom: 70px;
    }
    &75{
      margin-bottom: 75px;
    }
    &80{
      margin-bottom: 80px;
    }
    &85{
      margin-bottom: 85px;
    }
    &90{
      margin-bottom: 90px;
    }
    &95{
      margin-bottom: 95px;
    }
    &100{
      margin-bottom: 100px;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.p{
  &n{
    padding: 0;
  }


  &all{
    &5{
      padding: 5px;
    }
    &10{
      padding: 10px;
    }
    &15{
      padding: 15px;
    }
    &20{
      padding: 20px;
    }
    &25{
      padding: 25px;
    }
    &30{
      padding: 30px;
    }
    &35{
      padding: 35px;
    }
    &40{
      padding: 40px;
    }
    &45{
      padding: 45px;
    }
    &50{
      padding: 50px;
    }
    &55{
      padding: 55px;
    }
    &60{
      padding: 60px;
    }
    &65{
      padding: 65px;
    }
    &70{
      padding: 70px;
    }
    &75{
      padding: 75px;
    }
    &80{
      padding: 80px;
    }
    &85{
      padding: 85px;
    }
    &90{
      padding: 90px;
    }
    &95{
      padding: 95px;
    }
    &100{
      padding: 100px;
    }
  }


  &v{
    &5{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &10{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &15{
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &20{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &25{
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &30{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &35{
      padding-top: 35px;
      padding-bottom: 35px;
    }
    &40{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &45{
      padding-top: 45px;
      padding-bottom: 45px;
    }
    &50{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &55{
      padding-top: 55px;
      padding-bottom: 55px;
    }
    &60{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &65{
      padding-top: 65px;
      padding-bottom: 65px;
    }
    &70{
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &75{
      padding-top: 75px;
      padding-bottom: 75px;
    }
    &80{
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &85{
      padding-top: 85px;
      padding-bottom: 85px;
    }
    &90{
      padding-top: 90px;
      padding-bottom: 90px;
    }
    &95{
      padding-top: 95px;
      padding-bottom: 95px;
    }
    &100{
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }


  &h{
    &0{
      padding-left: 0;
      padding-right: 0;
    }
    &5{
      padding-left: 5px;
      padding-right: 5px;
    }
    &10{
      padding-left: 10px;
      padding-right: 10px;
    }
    &15{
      padding-left: 15px;
      padding-right: 15px;
    }
    &20{
      padding-left: 20px;
      padding-right: 20px;
    }
    &25{
      padding-left: 25px;
      padding-right: 25px;
    }
    &30{
      padding-left: 30px;
      padding-right: 30px;
    }
    &35{
      padding-left: 35px;
      padding-right: 35px;
    }
    &40{
      padding-left: 40px;
      padding-right: 40px;
    }
    &45{
      padding-left: 45px;
      padding-right: 45px;
    }
    &50{
      padding-left: 50px;
      padding-right: 50px;
    }
    &55{
      padding-left: 55px;
      padding-right: 55px;
    }
    &60{
      padding-left: 60px;
      padding-right: 60px;
    }
    &65{
      padding-left: 65px;
      padding-right: 65px;
    }
    &70{
      padding-left: 70px;
      padding-right: 70px;
    }
    &75{
      padding-left: 75px;
      padding-right: 75px;
    }
    &80{
      padding-left: 80px;
      padding-right: 80px;
    }
    &85{
      padding-left: 85px;
      padding-right: 85px;
    }
    &90{
      padding-left: 90px;
      padding-right: 90px;
    }
    &95{
      padding-left: 95px;
      padding-right: 95px;
    }
    &100{
      padding-left: 100px;
      padding-right: 100px;
    }
  }


  &l{
    &5{
      padding-left: 5px;
    }
    &10{
      padding-left: 10px;
    }
    &15{
      padding-left: 15px;
    }
    &20{
      padding-left: 20px;
    }
    &25{
      padding-left: 25px;
    }
    &30{
      padding-left: 30px;
    }
    &35{
      padding-left: 35px;
    }
    &40{
      padding-left: 40px;
    }
    &45{
      padding-left: 45px;
    }
    &50{
      padding-left: 50px;
    }
    &55{
      padding-left: 55px;
    }
    &60{
      padding-left: 60px;
    }
    &65{
      padding-left: 65px;
    }
    &70{
      padding-left: 70px;
    }
    &75{
      padding-left: 75px;
    }
    &80{
      padding-left: 80px;
    }
    &85{
      padding-left: 85px;
    }
    &90{
      padding-left: 90px;
    }
    &95{
      padding-left: 95px;
    }
    &100{
      padding-left: 100px;
    }
  }


  &r{
    &5{
      padding-right: 5px;
    }
    &10{
      padding-right: 10px;
    }
    &15{
      padding-right: 15px;
    }
    &20{
      padding-right: 20px;
    }
    &25{
      padding-right: 25px;
    }
    &30{
      padding-right: 30px;
    }
    &35{
      padding-right: 35px;
    }
    &40{
      padding-right: 40px;
    }
    &45{
      padding-right: 45px;
    }
    &50{
      padding-right: 50px;
    }
    &55{
      padding-right: 55px;
    }
    &60{
      padding-right: 60px;
    }
    &65{
      padding-right: 65px;
    }
    &70{
      padding-right: 70px;
    }
    &75{
      padding-right: 75px;
    }
    &80{
      padding-right: 80px;
    }
    &85{
      padding-right: 85px;
    }
    &90{
      padding-right: 90px;
    }
    &95{
      padding-right: 95px;
    }
    &100{
      padding-right: 100px;
    }
  }


  &t{
    &5{
      padding-top: 5px;
    }
    &10{
      padding-top: 10px;
    }
    &15{
      padding-top: 15px;
    }
    &20{
      padding-top: 20px;
    }
    &25{
      padding-top: 25px;
    }
    &30{
      padding-top: 30px;
    }
    &35{
      padding-top: 35px;
    }
    &40{
      padding-top: 40px;
    }
    &45{
      padding-top: 45px;
    }
    &50{
      padding-top: 50px;
    }
    &55{
      padding-top: 55px;
    }
    &60{
      padding-top: 60px;
    }
    &65{
      padding-top: 65px;
    }
    &70{
      padding-top: 70px;
    }
    &75{
      padding-top: 75px;
    }
    &80{
      padding-top: 80px;
    }
    &85{
      padding-top: 85px;
    }
    &90{
      padding-top: 90px;
    }
    &95{
      padding-top: 95px;
    }
    &100{
      padding-top: 100px;
    }
  }


  &b{
    &5{
      padding-bottom: 5px;
    }
    &10{
      padding-bottom: 10px;
    }
    &15{
      padding-bottom: 15px;
    }
    &20{
      padding-bottom: 20px;
    }
    &25{
      padding-bottom: 25px;
    }
    &30{
      padding-bottom: 30px;
    }
    &35{
      padding-bottom: 35px;
    }
    &40{
      padding-bottom: 40px;
    }
    &45{
      padding-bottom: 45px;
    }
    &50{
      padding-bottom: 50px;
    }
    &55{
      padding-bottom: 55px;
    }
    &60{
      padding-bottom: 60px;
    }
    &65{
      padding-bottom: 65px;
    }
    &70{
      padding-bottom: 70px;
    }
    &75{
      padding-bottom: 75px;
    }
    &80{
      padding-bottom: 80px;
    }
    &85{
      padding-bottom: 85px;
    }
    &90{
      padding-bottom: 90px;
    }
    &95{
      padding-bottom: 95px;
    }
    &100{
      padding-bottom: 100px;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.f{
  &let{
    &:first-letter{
      text-transform: uppercase;
    }
  }
  &si{
    font-style: italic;
  }
  &w100{
    font-weight: 100;
  }
  &w400{
    font-weight: 400;
  }
  &w700{
    font-weight: 700;
  }
  &w900{
    font-weight: 900;
  }

  &sz10{
    font-size: 10px;
  }
  &sz11{
    font-size: 11px;
  }
  &sz12{
    font-size: 12px;
  }
  &sz13{
    font-size: 13px;
  }
  &sz14{
    font-size: 14px;
  }
  &sz15{
    font-size: 15px;
  }
  &sz16{
    font-size: 16px !important;
  }
  &sz17{
    font-size: 17px;
  }
  &sz18{
    font-size: 18px;
  }
  &sz19{
    font-size: 19px;
  }
  &sz20{
    font-size: 20px;
  }
  &sz21{
    font-size: 21px;
  }
  &sz22{
    font-size: 22px;
  }
  &sz23{
    font-size: 23px;
  }
  &sz24{
    font-size: 24px;
  }
  &sz25{
    font-size: 25px;
  }
  &sz26{
    font-size: 26px;
  }
  &sz27{
    font-size: 27px;
  }
  &sz28{
    font-size: 28px;
  }
  &sz29{
    font-size: 29px;
  }
  &sz30{
    font-size: 30px;
  }
  &sz31{
    font-size: 31px;
  }
  &sz32{
    font-size: 32px;
  }
  &sz33{
    font-size: 33px;
  }
  &sz34{
    font-size: 34px;
  }
  &sz35{
    font-size: 35px;
  }
  &sz36{
    font-size: 36px;
  }
  &sz37{
    font-size: 37px;
  }
  &sz38{
    font-size: 38px;
  }
  &sz39{
    font-size: 39px;
  }
  &sz40{
    font-size: 40px;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.lh{
  &10{
    line-height: 10px;
  }
  &11{
    line-height: 11px;
  }
  &12{
    line-height: 12px;
  }
  &13{
    line-height: 13px;
  }
  &14{
    line-height: 14px;
  }
  &15{
    line-height: 15px;
  }
  &16{
    line-height: 16px;
  }
  &17{
    line-height: 17px;
  }
  &18{
    line-height: 18px;
  }
  &19{
    line-height: 19px;
  }
  &20{
    line-height: 20px;
  }
  &21{
    line-height: 21px;
  }
  &22{
    line-height: 22px;
  }
  &23{
    line-height: 23px;
  }
  &24{
    line-height: 24px;
  }
  &25{
    line-height: 25px;
  }
  &26{
    line-height: 26px;
  }
  &27{
    line-height: 27px;
  }
  &28{
    line-height: 28px;
  }
  &29{
    line-height: 29px;
  }
  &30{
    line-height: 30px;
  }
  &31{
    line-height: 31px;
  }
  &32{
    line-height: 32px;
  }
  &33{
    line-height: 33px;
  }
  &34{
    line-height: 34px;
  }
  &35{
    line-height: 35px;
  }
  &36{
    line-height: 36px;
  }
  &37{
    line-height: 37px;
  }
  &38{
    line-height: 38px;
  }
  &39{
    line-height: 39px;
  }
  &40{
    line-height: 40px;
  }
  &41{
    line-height: 41px;
  }
  &42{
    line-height: 42px;
  }
  &43{
    line-height: 43px;
  }
  &44{
    line-height: 44px;
  }
  &45{
    line-height: 45px;
  }
  &46{
    line-height: 46px;
  }
  &47{
    line-height: 47px;
  }
  &48{
    line-height: 48px;
  }
  &49{
    line-height: 49px;
  }
  &50{
    line-height: 50px;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.fil{
  &b{
    &-a{
      filter: brightness(200%);
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.t{
  &ro{
    &45{
      transform: rotate(45deg);
    }
    &-45{
      transform: rotate(-45deg);
    }
    &90{
      transform: rotate(90deg);
    }
    &-90{
      transform: rotate(-90deg);
    }
    &180{
      transform: rotate(180deg);
    }
    &-180{
      transform: rotate(-180deg);
    }
  }
}



