@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  src: url('assets/fonts/ProximaNovaThin/ProximaNovaThin.eot');
  src: url('assets/fonts/ProximaNovaThin/ProximaNovaThin.eot') format('embedded-opentype'),
  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.woff2') format('woff2'),
  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.woff') format('woff'),
  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.ttf') format('truetype'),
  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.svg#ProximaNovaThin') format('svg');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
  src: url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot') format('embedded-opentype'),
  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.woff2') format('woff2'),
  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype'),
  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('assets/fonts/ProximaNovaBold/ProximaNovaBold.eot');
  src: url('assets/fonts/ProximaNovaBold/ProximaNovaBold.eot') format('embedded-opentype'),
  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.woff2') format('woff2'),
  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype'),
  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  src: url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.eot');
  src: url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.eot') format('embedded-opentype'),
  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.woff2') format('woff2'),
  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.woff') format('woff'),
  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.ttf') format('truetype'),
  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.svg#ProximaNovaExtraCondensedBold') format('svg');
}






//@font-face {
//  font-family: 'ProximaNovaRegular';
//  src: url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
//  src: url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot') format('embedded-opentype'),
//  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.woff2') format('woff2'),
//  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
//  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype'),
//  url('assets/fonts/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
//}
//@font-face {
//  font-family: 'ProximaNovaThin';
//  src: url('assets/fonts/ProximaNovaThin/ProximaNovaThin.eot');
//  src: url('assets/fonts/ProximaNovaThin/ProximaNovaThin.eot') format('embedded-opentype'),
//  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.woff2') format('woff2'),
//  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.woff') format('woff'),
//  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.ttf') format('truetype'),
//  url('assets/fonts/ProximaNovaThin/ProximaNovaThin.svg#ProximaNovaThin') format('svg');
//}
//@font-face {
//  font-family: 'ProximaNovaExtraCondensedBold';
//  src: url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.eot');
//  src: url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.eot') format('embedded-opentype'),
//  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.woff2') format('woff2'),
//  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.woff') format('woff'),
//  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.ttf') format('truetype'),
//  url('assets/fonts/ProximaNovaExtraCondensedBold/ProximaNovaExtraCondensedBold.svg#ProximaNovaExtraCondensedBold') format('svg');
//}
//@font-face {
//  font-family: 'ProximaNovaBold';
//  src: url('assets/fonts/ProximaNovaBold/ProximaNovaBold.eot');
//  src: url('assets/fonts/ProximaNovaBold/ProximaNovaBold.eot') format('embedded-opentype'),
//  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.woff2') format('woff2'),
//  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
//  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype'),
//  url('assets/fonts/ProximaNovaBold/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
//}
