.loader {
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 780px;
  transform: translate(-50%, -50%);
  &-a{
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    perspective: 780px;
  }


  &-wp {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1111;
    background-color: #2e2e2e;
    transition: all .5s linear;

    &-a{
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1111;
    }
  }
  &-one, &-two, &-three {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
  }
  &-one {
    left: 0;
    top: 0;
    -webkit-animation: loader-one 1s linear infinite;
    animation: loader-one 1s linear infinite;
    border-bottom: 3px solid #00dbb8;
  }
  &-two {
    right: 0;
    top: 0;
    -webkit-animation: loader-two 1.2s linear infinite;
    animation: loader-two 1.2s linear infinite;
    border-right: 3px solid #ff1644;
  }
  &-three {
    right: 0;
    bottom: 0;
    -webkit-animation: loader-three .8s linear infinite;
    animation: loader-three .8s linear infinite;
    border-top: 3px solid #ffa200;
  }
}
@keyframes loader-one {
  0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@keyframes loader-two {
  0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@keyframes loader-three {
  0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
