*::-webkit-scrollbar {
  width:10px;
  background: white;
}
*::-webkit-scrollbar:horizontal {
  height:10px;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: white;
}
*::-webkit-scrollbar-thumb {
  background: #262626;
}
*::-webkit-scrollbar-corner {
  background: white;
}


html, body, app-root,app-home,app-map{
  display: block;
  height: 100%;
}

body{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  position: relative;
  font-family: 'ProximaNova', sans-serif;
}

img{
  vertical-align: middle;
}

.wp-btw{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#user_likes .p-slider-c-bg
{
	background-size:auto !important;
}

.mat-form-field-placeholder-wrapper
{
	overflow:inherit !important;
}

.z{
  &-dd{
    position: relative;
    width: 160px;
    &-btn{
      height: 22px;
      position: relative;
      &-input{
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        padding: 0 10px 0 45px;
        color: white;
        font-size: 18px;
        pointer-events: none;
      }
      &-flag{
        position: absolute;
        left: 0;
        top: 2px;
        height: 18px;
      }
      &-angle{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 100ms linear;
      }
    }

    &-box{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
      background: #262626;
      &-btn{
        width: 100%;
        font-size: 18px;
        color: white;
        margin: 5px 0 4px;
        text-align: left;
        img{
          height: 18px;
          margin: 0 10px 0 0;
        }
      }
    }

    &.active{
      .z-dd-box{
        opacity: 1;
        z-index: 1;
      }
      .z-dd-btn-angle{
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &-box{
    &-a{
    }

    &-b{
      &-a{
        position: relative;
        width: 30%;
      }
      &-b{
        position: relative;
        width: 30%;
      }
      &-c{
        position: relative;
        width: 30%;
      }
      &-d{
        position: relative;
        width: 10%;
      }
    }
  }

  &-in{
    &-wp{
      &-a{
        md-input-container{
          width: 96%;
        }
      }
    }

    &-send{
      position: absolute;
      right: 0;
      top: 12px;
    }

    &-err{
      position: absolute;
      bottom: -20px;
      left: 0;
      color: red;
      font-size: 14px;

      &-date{
        @extend .z-in-err;
        bottom: -17px;
        left: 38%;

        &-a{
          @extend .z-in-err;
          bottom: -17px;
          left: 25%;
        }
      }

      &-select{
        @extend .z-in-err;
        bottom: -26px;
      }
    }

    &-success{
      @extend .z-in-err;
      color: #00dbb8;

    }

    &-noerr{
      width: 100%;
      .mat-input{
        &-infix{
          padding: .4375em 0 0;
        }
        &-wrapper{
          padding: 0;
        }
        &-element{
          padding: 13px 13px 0;
        }
        &-placeholder-wrapper{
          top: 0;
        }
        &-underline{
          bottom: 0;
        }
      }
    }
  }

  &-pop{
    &-a{
      position: relative;
      width: 350px;
      padding: 20px;
    }

    &-b{
      position: relative;
      width: 600px;
      height: 600px;
      overflow-y: scroll;
      padding: 40px;
    }

    &-c{
      position: relative;
      width: 500px;
      padding: 40px;
    }

    &-d{
      position: relative;
      height: 100%;
      width: 100%;
      background: #2e2e2e;
      &-box{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        transition: all 500ms linear;
      }

      &-prev, &-next{
        background: none !important;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 65px;
        height: 80px;
        margin-bottom: 0;
        overflow: hidden;
        transform: translate(0, -50%);
        &-arr{
          position: absolute;
          top: 0;
          left: -60%;
          width: 80px;
          height: 80px;
          transform: rotate(45deg);
          border: 10px solid #00dbb8;
          cursor: pointer;
          transition: all 200ms linear;
        }

        &:hover &{
          &-arr{
            transform: rotate(135deg);
          }
        }

        &:active{
          opacity: .8;
          transform: translate(0, -50%) scale(.8);
        }
      }

      &-prev{
        right: initial;
        left: 10px;
        &-arr{
          left: initial;
          right: -60%;
        }
      }
    }
  }

  &-progress{
    position: fixed !important;
    z-index: 111111;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }

  &-video {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    .ytp-watermark{
      display: none;
    }
  }

  &-chip{
    &-close{
      position: relative;
      width: 10px;
      height: 10px;
      margin: 0 0 0 5px;
      &:after{
        content: '+';
        position: absolute;
        left: -6px;
        top: -12px;
        color: #000;
        font-size: 32px;
        transform: rotate(45deg);
      }
    }
  }
}



.z-slider{
  &-prev,
  &-next{
    opacity: 0;
    transition: all 200ms linear;
    position: absolute;
    top: 0;
    display: inline-block;
    height: 100%;
    background: transparent;
    overflow: hidden;
    box-shadow: inset -60px 0px 100px -59px #000;
    width: 60px;
    &:after{
      content: '';
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -30px;
      width: 50px;
      height: 50px;
      border-top: 8px solid #fff;
      border-right: 8px solid #fff;
      transform: rotate(45deg);
    }
  }
  &-prev {
    left: 0;
    transform: rotate(180deg);
  }
  &-next {
    right: 0;
    //background-position: inherit;
  }

  &:hover &-prev, &:hover &-next{
    opacity: 1;
  }
}


//================================================================


app-player{
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


app-map{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


app-menu-pop{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 100%;
  background: #262626;
  transition: all 200ms linear;
}

//================================================================


.p{
  font-family: 'ProximaNova';
  height: 100%;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  &-wp{
    &-a{
      position: relative;
      width: 1090px;
      margin: 0 auto;
    }

    &-b{
      width: 48.5%;
    }

    &-c{
      padding: 130px 0 0;
    }

    &-d{
      width: 82%;
    }

    &-e{
      @extend .p-wp-a;
      @extend .wp-btw_cen;
      padding: 25px 0 30px;
    }

    &-f{
      width: 65%;
    }
  }

  &-shadow{
    &-a{
      box-shadow: 0px 0px 20px -5px #000;
    }
  }

  &-spike{
    &-a{
      position: relative;
      z-index: 100;
    }
  }

  &-icon{
    &-remove{
      @extend .c4;
      @extend .fsz30;
      @extend .dibM;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  &-header{
    &-logo{
      position: absolute;
      z-index: 100;
      left: 59px;
      top: 31px;
    }
    &-menu{
      position: absolute;
      z-index: 100;
      right: 34px;
      top: 28px;
    }
  }

  &-link{
    &-a{
      @extend .fsz14;
      @extend .c4;
      border-bottom: 1px dotted #ff1644;
      &:hover{
        border-bottom: 1px solid #ff1644;
      }
    }
    &-b{
      @extend .fsz14;
      @extend .c5;
    }
  }

  &-video {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &-page{
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &-hr{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    display: block;
    &-a{
      width: 100%;
      border: none;
      border-bottom: 2px dotted #00dbb8;
    }
  }

  &-btn{
    &-o{
      background: none;
      display: inline-block;
      vertical-align: middle;
    }

    &-close{
      position: absolute;
      z-index: 1111;
      right: 5px;
      top: 5px;
      display: none;
      svg{
        width: 25px;
        height: 25px;
        fill: #ff1644;
      }
    }

    &-arr{
      &-a{
        transform: rotate(180deg);
        img{
          height: 30px;
        }
      }
      &-b{
        img{
          height: 30px;
        }
      }
    }

    &-next, &-prev{
      background: none !important;
      position: fixed;
      right: 10px;
      top: 50%;
      width: 65px;
      height: 80px;
      margin-bottom: 0;
      overflow: hidden;
      transform: translate(0, -50%);
      &-arr{
        position: absolute;
        top: 0;
        left: -60%;
        width: 80px;
        height: 80px;
        transform: rotate(45deg);
        border: 10px solid #00dbb8;
        cursor: pointer;
        transition: all 200ms linear;
      }

      &:hover{
        .p-btn{
          &-next, &-prev{
            &-arr{
              transform: rotate(135deg);
            }
          }
        }
      }

      &:active{
        opacity: .8;
        transform: translate(0, -50%) scale(.8);
      }
    }

    &-prev{
      right: initial;
      left: 10px;
      &-arr{
        left: initial;
        right: -60%;
      }
    }

    &-fb{
      @extend .fsz16;
      position: relative;
      background: #1c407b !important;
      color: white !important;
      border-radius: 3px;
      padding: 8px 25px 8px 60px !important;
      overflow: hidden;
      img{
        position: absolute;
        left: 7px;
        top: 50%;
        height: 50px;
        transform: translateY(-50%);
      }

      &-icon{
        left: 20px !important;
      }
    }

    &-ev{
      position: relative;
      z-index: 10;
      width: 125px;
      height: 125px;
      display: flex;
      background: #ff1744 !important;
      border-radius: 50% !important;
      img{
        margin: auto;
        transition: all 200ms linear;
      }

      .mat-ripple {
        border-radius: 50%;
      }

      &-text{
        white-space: normal;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        bottom: 0;
        font-size: 23px;
        line-height: 30px;
        color: #fff;
        transform: translateY(-50%);
        transition: all 200ms linear;
      }

      &:hover{
        img{
          opacity: 0;
        }
        .p-btn-ev-text{
          opacity: 1;
        }
      }
    }

    &-go{
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: -65px;
      box-shadow: 0 0 20px 0 black;
      margin: 0 auto;
      background: #ffbe32;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 100ms linear;
      }
      span{
        font-size: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: all 100ms linear;
      }


      &:hover{
        img{opacity: 0;}
        span{opacity: 1;}
      }
    }

    &-mail{
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: 90px;
      box-shadow: 0 0 20px 0 black;
      margin: 0 auto;
      background: #ffbe32;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      img{
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 100ms linear;
      }
      span{
        font-size: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: all 100ms linear;
      }


      &:hover{
        img{opacity: 0;}
        span{opacity: 1;}
      }
    }

    &-add{
      position: relative;
      width: 35px;
      height: 35px !important;
      line-height: 35px;
      border-radius: 50%;
      overflow: hidden;
      background: #b8b8b8;
      text-align: center;
      min-height: initial;
      min-width: initial;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 14px;
      }
      .md-ripple-container{
        border-radius: 50%;
      }
    }

    &-ques{
      @extend .dibM;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background: #b8b8b8;
      text-align: center;
      font-size: 16px;
      color: #fff;
    }

    &-a{
      background: white;
      padding: 10px;
      color: #000;
      font-size: 20px;
    }

    &-b{
      @extend .fsz16;
      font-weight: 700;
      border: 2px solid rgba(255, 255, 255, 0.5);
      padding: 11px 25px;
      border-radius: 3px;
      color: white;
      background: none;
    }

    &-c{
      @extend .p-btn-b;
      @extend .fsz16;
      border: 2px solid white;
      background: white;
      color: black;
    }

    &-d{
      background: none;
      color: #d8d8d8;
      font-size: 22px !important;
      font-weight: 900 !important;
      padding: 10px !important;
      &-a{
        @extend .p-btn-d;
        background: #d8d8d8 !important;
        color: white !important;
      }
      &-b{
        @extend .p-btn-d;
        background: #00dbb8 !important;
        color: white !important;

        &-svg{
          width: 45px;
          height: 45px;
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &-c{
        background: #00dbb8 !important;
        color: white !important;
        padding: 8px 10px !important;
        font-weight: 700 !important;
        font-size: 22px !important;

        &.bg4{
          background: #ff1644 !important;
        }
      }
    }

    &-e{
      @extend .p-btn-o;
      @extend .c1;
      @extend .fsz14;
      @extend .fw700;
      position: relative;
      padding: 0 0 0 20px;
      &-img{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
      }

      &.active{
        @extend .c3;
      }
    }

    &-f{
      @extend .fsz12;
      color: #2c3e79;
      border: 2px solid #2c3e79;
      padding: 5px 25px;
      background: white;
    }

    &-g{
      @extend .bg3;
      line-height: 1;
      min-height: 0;
      min-width: 0;
      position: absolute !important;
      z-index: 1;
      left: -22px;
      top: -22px;
      width: 44px;
      height: 44px !important;
      padding: 5px;
      border-radius: 50%;
      transition: all 200ms linear;

      img{
        height: 20px;
      }
    }

    &-h{
      @extend .dibM;
      @extend .p-btn-o;
      @extend .mr5;
      @extend .bg4;
      position: relative;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 5px;


      &-img{
        svg,g{
          fill: white;
          width: 100%;
          height: 100%;
        }

        //&.path{
        //  path{
        //    fill: white !important;
        //  }
        //}
      }

      &.voted{
        background: #737373 !important;
        opacity: .6;
        svg,g,path{
          fill: #fff;
        }
      }
    }

    &-i{
      @extend .p-btn-o;
      @extend .w100p;
      @extend .mb5;

      &-img{
        fill: #ff1644;
        width: 36px;
        height: 36px;
        svg,g,path{
          fill: #ff1644;
          width: 36px;
          height: 36px;
        }
      }


      &.active{
        .p-btn-i-img {
          svg,g,path{
            fill: #ffa200;
          }
        }
      }
    }
  }

  &-shadow {
    &-top{
      position: fixed;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: 0 0 200px 70px #000;
    }
  }

  &-box{
    &-a{
      width: 100%;
      height: 260px;
      position: relative;
      background: #000;

      &-social{
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        opacity: 0;
        z-index: 1;
        transition: all 200ms linear;
      }

      &-bg{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        span{
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          background-size: cover !important;
          transition: all 200ms linear;
          //&:after{
          //  content: '';
          //  position: absolute;
          //  left: 0;
          //  right: 0;
          //  top: 0;
          //  bottom: 0;
          //  background: rgba(0, 0, 0, 0.5);
          //}
        }
      }

      &-404{
        width: 100%;
        height: 260px;
        position: relative;
        &-text{
          @extend .fsz30;
          @extend .c6;
          padding: 85px 30px 0;
          text-align: center;
          width: 100%;
          font-weight: 900;
          letter-spacing: 1.1px;
        }
      }

      &-user{
        position: absolute;
        z-index: 1;
        left: 10px;
        bottom: 10px;
        &-ava{
          display: inline-block;
          vertical-align: middle;
          width: 90px;
          height: 90px;
          background-size: cover !important;
          border-radius: 50%;
        }
        &-king{
          position: absolute;
          right: -5px;
          bottom: -5px;
          border: 5px solid white;
          border-radius: 50%;
        }
      }

      &-def{
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 30px;
        width: 78%;
        color: #fff;
        opacity: 1;
        transition: all 200ms linear;
        &-info{
          font-size: 16px;
          margin-bottom: 5px;
          text-shadow: 2px 2px 7px #000;
        }
        &-title{
          @extend .fsz30;
          @extend .wsn;
          width: 100%;
          color: #fff;
          font-weight: 900;
          letter-spacing: 1.1px;
          text-shadow: 2px 2px 7px #000;
        }
      }

      &-hov{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 200ms linear;
        &-a{
          position: absolute;
          right: 15px;
          top: 20px;
        }

        &-b{
          @extend .fsz30;
          @extend .wsn;
          width: 100%;
          position: absolute;
          left: 0;
          padding: 0 0 0 30px;
          top: 90px;
          color: #fff;
          font-weight: 900;
          letter-spacing: 1.1px;
          text-shadow: 2px 2px 7px #000;
        }

        &-c{
          @extend .fsz24;
          position: absolute;
          right: 0;
          bottom: 70px;
          width: 78%;
          color: #fff;
          padding: 15px 0 0;
          text-shadow: 2px 2px 7px #000;
          span{
            @extend .fsz14;
            @extend .cw;
            display: block;
          }
        }

        &-d{
          @extend .fsz22;
          @extend .wsn;
          font-weight: 900;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          color: #000;
          padding: 15px 0 15px 22%;
          background: white;
        }
      }

      &-entrance{
        @extend .bg5;
        @extend .c6;
        position: absolute;
        right: 30px;
        bottom: 20px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        text-align: center;
        font-size: 19px;
        padding: 22px 0 0;
        span{
          display: block;
          font-size: 11px;
        }
      }


      &:hover &{
        &-def{opacity: 0;}
        &-hov{opacity: 1;}
        &-bg{filter: blur(2px);}
        &-social{opacity: 1;right: -50px;}
      }
    }

    &-b{
      width: 100%;
      height: 190px;
      display: flex;
      position: relative;
      &-bg{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        background-size: cover !important;
        transition: all 200ms linear;
      }
      &-text{
        align-self: flex-end;
        font-weight: 900;
        font-size: 24px;
        color: white;
        padding: 0 24px 20px;
        width: 100%;
        position: relative;
      }

      .p-box-a-social{z-index: -2;opacity: 0;transition: all 200ms linear}

      &:hover{
        .p-box{
          &-b-bg{filter: blur(2px);}
          &-a-social{opacity: 1;z-index: 1;}
        }
      }
    }

    &-c{
      @extend .p-box-b;
      width: 100%;
      height: 180px;
      .p-box-b-text{
        font-size: 20px;
        padding: 0 15px 15px;
      }
    }

    &-d{
      @extend .wp-btw_cen;
      width: 190px;
      &-user{
        position: relative;
        &-ava{
          @extend .dibM;
          width: 67px;
          height: 67px;
          background-size: cover !important;
          border-radius: 50%;
        }
        &-king{
          position: absolute;
          right: -5px;
          bottom: -5px;
          border: 5px solid white;
          border-radius: 50%;
          img{
            height: 25px;
          }

          &-a{
            @extend .p-box-d-user-king;
            border: 5px solid #e3b463;
          }
        }
      }
      &-hosted{
        @extend .fsz18;
        font-weight: 100;
        width: 110px;
        color: white;
        span{
          @extend .fsz14;
          display: block;
        }
      }
      &-info{

      }
    }

    &-e{
      background-size: cover !important;
      height: 150px;
      width: 62%;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5) url(assets/i/icons/live.png) 50% no-repeat;
        background-size: 40%;
        opacity: 0;
        transition: all 200ms linear;
      }


      &:hover{
        &:after{
          opacity: 1;
        }
      }
    }

    &-f{
      position: relative;
      height: 150px;
      width: 32%;
      background: #424242;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5) url(assets/i/icons/periscope.png) 50% no-repeat;
        background-size: 50%;
        opacity: 0;
        transition: all 200ms linear;
      }


      &-text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        color: white;
        font-size: 25px;
      }


      &-broad{
        text-align: center;
        width: 50%;
      }


      &:hover{
        &:after{
          opacity: 1;
        }
      }
    }

    &-g{
      @extend .dibM;
      position: relative;
      background: #cecece;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      &-ava{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        background-size: cover !important;
      }
      &-king{
        position: absolute;
        right: -5px;
        bottom: -5px;
        border: 5px solid white;
        border-radius: 50%;
        img{
          height: 25px;
        }
      }
      &-exit{
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        transition: all 200ms linear;
        cursor: pointer;
        img{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
      }
      &-add{
        img{
          height: 22px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
      }

      &-cc{
        font-size: 19px;
        color: #fff;
        position: absolute;
        right: -2.5px;
        bottom: -2.5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ff1644;
        background-size: contain;
        transform: scale(.5);
        opacity: 0;
        transition: all 200ms linear;
      }

      &-ac{
        font-size: 19px;
        color: #fff;
        position: absolute;
        right: -2.5px;
        top: -2.5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #00dbb8;
        background-size: contain;
        transform: scale(.5);
        opacity: 0;
        transition: all 200ms linear;
      }

      &:hover{
        .p-box-g{
          &-exit{opacity: 1;}
          &-cc, &-ac{opacity: 1;transform: scale(1);}
        }
      }
    }

    &-h{
      @extend .wp-btw_cen;
      padding: 10px 30px 10px 5px;
      position: relative;
      width: 300px;
      &-ava{
        @extend .dibM;
        background: #cecece;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        //padding: 5px;
        &-bg{
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
          background-size: cover !important;
        }
      }

      &-info{
        @extend .dibM;
        width: 80%;

        a{
          @extend .c10;
        }
      }

      &-func{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

      }

      &-replay{
        @extend .p-btn-o;
        width: 15px;
        height: 15px;
        transform: scale(0);
        margin-bottom: 10px;
        transition: all 100ms linear;
        img{
          width: 100%;
        }
      }

      &-close{
        @extend .p-btn-o;
        @extend .bg7;
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid #2e2e2e;
        border-radius: 50%;
        transform: scale(0);
        transition: all 100ms linear;
        cursor: pointer;
        &.active{
          @extend .bg4;
          pointer-events: none;
          cursor: not-allowed;
        }
        &:hover{
          @extend .bg4;
        }
      }

      &.active{
        @extend .p-shadow-a;
        background: aliceblue;
      }

      &:hover{
        .p-box-h{
          &-close, &-replay{
            transform: scale(1);
          }
        }
      }
    }

    &-i{
      @extend .noselect;
      width: 100%;
      .p-box-a{
        width: 100%;
        &-bg{
          &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
          }
        }

        .p-box-a-hov{
          opacity: 1;
        }
      }
    }

    &-j{
      min-height: 300px;
      padding: 35px 45px 60px 35px;


      &-bg{
        &-a{
          background: url(assets/i/icons/logo-a.jpg) 0 100% no-repeat;
        }
        &-b{
          background: url(assets/i/icons/logo-b.jpg) 100% 0 no-repeat;
        }
        &-c{
          background: url(assets/i/icons/logo-c.jpg) 80% 0 no-repeat;
        }
        &-d{
          background: url(assets/i/icons/logo-d.jpg) 0 100% no-repeat;
        }
      }


    }

    &-k{
      @extend .cw;
      @extend .dibM;
      background: #00dbb8;
      position: relative;
      padding: 10px;
      font-size: 15px;
      text-align: center;
      border-radius: 5px;
    }

    &-l{
      @extend .mb20;
      font-size: 0;
      padding-right: 15px;
      position: relative;

      &-user{
        @extend .dibM;
        width: 18%;
        &-ava{
          @extend .dibM;
          width: 40%;
          position: relative;
          &-img{
            width: 100%;
            border-radius: 50%;
            display: block;
            min-height: 70px;
            min-width: 70px;
            background-size: cover !important;
          }
        }
        &-name{
          @extend .dibM;
          width: 60%;
          font-size: 16px;
          padding-left: 10px;
        }
      }
      &-mes{
        @extend .dibM;
        width: 82%;
        font-size: 16px;
      }


      &:hover{
        .p-box-h{
          &-close, &-replay{
            transform: scale(1);
          }
        }
      }
    }
  }

  &-block{
    &-a{
      background: rgba(0, 0, 0, 0.5);
      position: relative;
      &-date{
        @extend .wp-btw_cen;
        width: 300px;
        &-a{
          background: white;
          text-align: center;
          padding: 4px;
          width: 58px;
          div{
            font-weight: 100;
            color: #2e2e2e;
            font-size: 34px;
            line-height: 27px;
          }
          span{
            color: #2e2e2e;
            font-size: 24px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
        &-b{
          width: 230px;
        }
      }

      &-info{
        max-width: 575px;
        &-a{
          position: absolute;
          top: -25px;

        }
        &-b{
          @extend .dibM;
          @extend .fsz38;
          @extend .cw;
          @extend .fw900;
          @extend .wsn;
          margin: 0 10px 0 0;
          width: 450px;
        }
        &-c{
          @extend .dibM;
          @extend .fsz14;
          @extend .cw;
          line-height: 20px;
          width: 530px;
        }
      }
    }

    &-b{
      position: relative;
      width: 100%;
      background: white;
      padding: 30px;

      &-img{
        position: absolute;
        z-index: 0;
        right: 40px;
        top: 8%;
        height: 84%;
        max-height: 250px;
        opacity: 0.9;
      }
    }

    &-c{
      position: fixed;
      right: 30px;
      bottom: 30px;
      img{
        margin: 20px auto;
        display: block;
        width: 150px;
      }
    }
  }

  &-slider{
    width: 100%;
    position: relative;
    &-add{
      position: absolute !important;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 3px 0 0 3px;
      margin: 0 0 15px;
      z-index: 0;
      width: 160px;
      height: 145px !important;
      text-align: center;
      background: #2e2e2e !important;
      transition: all 100ms linear;
      &-icon{
        opacity: 1;
      }
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 100ms linear;
      }
      span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: white;
        transition: all 100ms linear;
      }
      &:hover{
        .p-slider-add-icon{opacity: 0;}
        span{opacity: 1;}
      }
    }

    &-a{
      @extend .dibM;
      background-size: cover !important;
      width: 260px !important;
      height: 145px;
      margin: 0 5px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      //transition: all 200ms linear;

      &-title{
        text-shadow: 2px 2px 7px #000;
        position: absolute;
        bottom: -100px;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        padding: 0 15px 15px;
        width: 100%;
        transition: all 200ms linear;
      }

      &:hover{
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray;
        -webkit-filter: grayscale(100%);

        .p-slider-a-title{
          bottom: 0;
        }
      }
    }

    &-b{
      @extend .p-slider-a;
      width: 220px !important;
      .p-btn-o{
        position: absolute;
        right: 6px;
        top: 6px;
        img{
          width: 50px;
        }
      }
    }

    &-c{
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      &-a{
        @extend .dibM;
        position: relative;
        width: 310px !important;
        height: 160px;
        margin: 0 0 0 22px;
        &:hover{
          .p-slider{
            &-cc-a{
              transform: scale(1);
              opacity: 1;
            }

            &-c-title{
              bottom: 0;
            }
          }
        }
      }

      &-bg{
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover !important;
      }

      &-title{
        @extend .wsn;
        position: absolute;
        bottom: -100px;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        padding: 0 15px 15px;
        width: 100%;
        transition: all .2s linear;
      }

      &-b{
        @extend .dibM;
        width: 160px !important;
        height: 160px;
        margin: 0 0 0 22px;
        background-size: cover !important;
      }
    }

    &-cc{
      font-size: 22px;
      color: #fff;
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #ff1644;
      background-size: contain;
      transform: scale(.5);
      opacity: 0;
      transition: all 200ms linear;

      &-a{
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: 10px;
        width: 35px;
        height: 35px;
        background:transparent;
        border: 4px solid #ff1644;
        border-radius: 50%;
        cursor: pointer;
        display:inline-block;
        transition: all 200ms linear;
        transform: scale(0);
        &:after{
          width:24px;
          height:4px;
          background-color: #ff1644;
          content:"";
          left:50%;
          top:50%;
          margin-left:-12px;
          margin-top:-2px;
          position:absolute;
          transform: rotate(-45deg);
        }
        &:before{
          left:50%;
          top:50%;
          margin-left:-12px;
          margin-top:-2px;
          width:24px;
          height:4px;
          background-color: #ff1644;
          content:"";
          position:absolute;
          transform: rotate(45deg);
        }

        &:hover{
          transform: scale(1) rotate(90deg) !important;
        }

        &:active{
          opacity: 0 !important;
          transform: scale(1.5) !important;
        }
      }
    }

  }

  &-user{
    @extend .p-btn-o;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &-ava{
      @extend .dibM;
      width: 37px;
      height: 37px;
      background-size: cover !important;
      border-radius: 50%;
    }
    &-noti{
      @extend .dibM;
      font-weight: 700;
      position: absolute;
      right: -5px;
      top: -5px;
      width: 30px;
      color: white;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      &-bg{
        position: absolute;
        left: -2px;
        top: -8px;
        fill: #ff1744;
      }
      &-text{
        position: relative;
        z-index: 1;
      }
    }
  }

  &-dd{
    position: relative;
    width: 160px;
    &-btn{
      @extend .p-btn-o;
      height: 22px;
      position: relative;
      &-input{
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        padding: 0 10px 0 45px;
        color: white;
        font-size: 18px;
        pointer-events: none;
      }
      &-flag{
        position: absolute;
        left: 0;
        top: 2px;
        height: 18px;
      }
      &-angle{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 100ms linear;
      }
    }

    &-box{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
      background: #262626;
      transition: all 200ms linear;
      &-btn{
        @extend .p-btn-o;
        @extend .fsz18;
        @extend .cw;
        margin: 5px 0 4px;
        img{
          height: 18px;
          margin: 0 10px 0 0;
        }
      }
    }


    &.active{
      .p-dd-box{
        opacity: 1;
        z-index: 1;
      }
      .p-dd-btn-angle{
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &-file{
    display: block;
    width: 100%;
    height: 175px;
    padding: 15px;
    background: #d8d8d8;
    transition: all 200ms linear;
    input{
      display: none;
    }
    &-wp{
      display: block;
      border: 2px dashed white;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      padding: 20px 0 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      color: #b0b0b0;
      line-height: 25px;
      transition: all 200ms linear;
      img{
        margin: 0 0 8px;

      }
    }

    &-a{
      .lf-ng-md-file-input{
        &-thumbnails{
          text-align: center;
        }
        &-frame{
          float: none !important;
          display: inline-table !important;
        }
        &-container{
          display: none;
        }
      }
    }

    &:hover{
      box-shadow: inset 0 0 170px 140px rgba(0,0,0,.1);
    }
  }

  &-upload{
    position: relative;

    &-in{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      cursor: cell;
      display: block;
      &-title{
        @extend .trfM;
        @extend .ttu;
        @extend .fw700;
        @extend .cw;
        @extend .fsz22;
        @extend .w100p;
      }
    }

    &-box{
      @extend .wp-arnd_cen;
      @extend .anim-g;
      position: relative;
      min-height: 300px;
      transition: all .5s linear;
      &.dragover-file .p-upload-in{
        @extend .anim-f;
      }

      &-item{
        position: relative;
        @extend .dibM;
        @extend .bg1;
        width: 31%;
        padding: 10px;
        overflow: hidden;
        img{
          width: 100%;
        }

        &.big{
          width: 100%;
          margin: 0 auto;
        }
        &:after{
          content: '';
          cursor: pointer;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: url(assets/i/icons/+.png) center no-repeat;
          opacity: 0;
          transform: rotate(0deg) scale(1);
          transition: all 200ms linear;
        }


        &:hover{
          img{
            filter: grayscale(100%);
          }
          &:after{
            opacity: 1;
            transform: rotate(45deg) scale(1.6);
          }
        }
      }

      &:hover, &.active{
        box-shadow: inset 0 0 0 300px #00dbb8;
        //.p-upload-in-title{
        //  color: white;
        //}
      }
    }
  }

  &-input{
    &-a{
      max-width: 420px;
      margin: 0 auto;
      display: block;
      input{
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid black;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 8px;
      }
    }

    &-b{
      @extend .dibM;
      width: 75px;
      height: 32px;
      line-height: 32px;
      &-in{
        width: 100%;
        height: 100%;
        background: white;
        border: 1px solid #d8d8d8 !important;
        border-radius: 3px;
        padding: 0 5px !important;
        text-align: right;
        font-size: 16px;
        color: #000;
      }
    }

    &-c{
      width: 100%;
      display: block;
      position: relative;
      &-in{
        width: 100%;
        display: block;
        position: relative;
        input{
          width: 100%;
          border: none;
          border-bottom: 1px solid black;
          font-size: 16px;
          color: #000;
          padding: 5px 40px 5px 5px;
        }
      }
    }

    &-d{
      display: block;
      position: relative;
      &-in{
        display: block;
        position: relative;
        padding: 0 40px 0 0;
        input{
          width: 100%;
          height: 100%;
          border: none;
          border-bottom: 1px solid black;
          font-size: 18px;
          padding: 8px;
        }
      }

      &-send{
        position: absolute;
        right: 0;
        top: 3px;
        @extend .p-btn-o;
      }
    }
  }

  &-textarea{
    &-a{
      width: 100%;
      display: block;
      position: relative;
      &-ta{
        width: 100%;
        display: block;
        position: relative;
        textarea{
          min-height: 80px;
          resize: vertical;
          line-height: 20px;
          width: 100%;
          border: none;
          border-bottom: 1px solid black;
          font-size: 16px;
          color: #000;
          padding: 5px 40px 5px 5px;
        }
      }
    }
  }

  &-radio{
    &-a{
      display: block;
      &-in{
        display: none;
        &:checked + .p-radio-a-mark:after{
          opacity: 1;
          transform: scale(1);
        }
      }

      &-mark,
      &-text{
        @extend .dibM;
      }
      &-mark{
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: white;
        border: 2px solid #b0b0b0;
        &:after{
          content: '';
          position: absolute;
          left: 3px;
          top: 3px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: #00dbb8;
          opacity: 0;
          transform: scale(0);
          transition: all 200ms linear;
        }
      }
      &-text{
        margin: 0 0 0 5px;
        color: #000;
        font-size: 16px;
      }
    }
  }

  &-check{
    &-a{
      @extend .dibM;
      @extend .p-btn-o;
      &-checked,
      &-text{
        @extend .dibM;
      }
      &-checked{
        filter: grayscale(1);
        transition: all 100ms linear;
      }
      &-text{
        text-align: left;
        margin: 0 0 0 5px;
        color: #000;
        font-size: 12px;
      }

      &.active{
        .p-check-a-checked{
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }

  }

  &-pop{
    position: fixed;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    display: none;
    overflow-y: scroll;
    transition: all 500ms linear;
    &-wp{
      position: relative;
      background: white;
      width: 645px;
      //min-height: 770px;
      margin: 0 auto;
      height: 100%;
      //padding: 0 0 56px;
      //opacity: 0;
      //transform: translateY(-300px);
      transition: all 500ms linear;

      &-a{
        position: relative;
        background: white;
        width: 90%;
        height: 100%;
        opacity: 0;
        margin: 0 auto;
        transform: translateY(-300px);
        transition: all 500ms linear;
      }

      &-b{
        position: relative;
        background: white;
        width: 645px;
        margin: 0 auto;
        //opacity: 0;
        //transform: translateY(-300px);
        transition: all 500ms linear;
      }

      &-c{
        position: relative;
        background: white;
        width: 645px;
        height: 600px;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(-300px);
        transition: all 500ms linear;
      }

      &-d{
        @extend .p-pop-wp;
        width: 585px;
        min-height: initial;
      }
    }

    &-gall{
      width: 100%;
      height: 100%;
      background-size: contain !important;
    }

    &-close{
      @extend .p-btn-o;
      position: absolute;
      right: -25px;
      top: 0;

      &-a{
        position: fixed;
        z-index: 0;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        &.active{
          z-index: 99;
        }
      }
    }

    &-remove{
      position: absolute !important;
      right: 10px;
      top: 10px;
      height: auto !important;
    }

    &-step{

    }

    &-footer{
      @extend .wp-btw;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &-video{
      width: 100%;
      height: 100%;
      iframe{
        width: 100%;
        height: 100%;
      }
    }

    &.active{
      display: block;
      z-index: 1000;
      opacity: 1;

      .p-pop-wp,
      .p-pop-wp-a,
      .p-pop-wp-b,
      .p-pop-wp-c{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-edit{
    position: relative;
    &-a{
      position: relative;
      .p-btn-g{
        opacity: 0;
      }

      &:hover{
        .p-btn-g{
          animation: pulse 2s ease infinite;
          &:hover{
            animation: initial;
            opacity: 1;
          }
        }
        .p-edit-a-area{
          @extend .anim-c;
        }
      }
    }



    &-icon{
      position: absolute;
      left: 0;
      top: 1px;
    }
    &-text{
      &.active{
        border-bottom: 1px dotted #00dbb8;
      }
    }
    &-btns{
      background: white;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: all 200ms linear;
    }
    &.nm{
      .ng-inline-edit {
        margin: 0;
      }
    }

    .ng-inline-edit{
      margin: 0 0 0 25px;
      &__input {
        border-bottom: 1px dotted #00dbb8;
      }
    }

    &:hover{
      .p-edit-btns{
        opacity: 1;
      }
    }
  }

  &-switch{
    @extend .dibM;
    position: relative;
    width: 50px;
    height: 18px;
    border-radius: 20px;
    cursor: pointer;
    background: #ff9f81;
    input{
      display: none;
      &:checked + *{
        left: calc(99% - 23px);
        background: #ff9f81;
      }
    }
    &-btn{
      position: absolute;
      left: 0;
      top: -3px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #ff5722;
      transition: all 100ms linear;
    }
  }

  &-play{
    opacity: 0.8;
    margin: 5px 0 0 20px;
    //position: absolute;
    //left: 10px;
    //top: 10px;
    //z-index: 1;
    background: none;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #ff1644;
    border-bottom: 8px solid transparent;
    transition: initial;
    &.active{
      width: 12px;
      height: 16px;
      border: none;
      border-right: 4px solid #ff1644;
      border-left: 4px solid #ff1644;
    }
  }

  &-unmute{
    opacity: 0.8;
    margin: 4px 0 0 20px;
    //position: absolute;
    //z-index: 1;
    //left: 10px;
    //top: 30px;
    position: relative;
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: inline-block;
    background: none;

    span {
      display: block;
      width: 8px;
      height: 8px;
      background: #ff1644;
      margin: 12px 0;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent #ff1644 transparent transparent;
        border-width: 10px 14px 10px 15px;
        left: -16px;
        top: 6px;
      }

      &:before {
        content: '';
        transform: rotate(45deg);
        border-radius: 0 50px 0 0;
        position: absolute;
        width: 5px;
        height: 5px;
        border-style: double;
        border-color: #ff1644;
        border-width: 7px 7px 0 0;
        left: 15px;
        top: 10px;
        transition: all 0.2s ease-out;
      }
    }

    &:hover {

      span:before {
        transform: scale(.8) translate(-3px, 0) rotate(42deg);
      }
    }

    &.active {
      span:before {
        transform: scale(.5) translate(-15px, 0) rotate(36deg);
        opacity: 0;
      }
    }
  }

  &-mark{
    &-a{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -6px;
        height: 6px;
        width: 13px;
        border: solid #39ca74;
        border-width: 0 0 4px 4px;
        transform: rotate(-45deg);
      }
    }
  }

  &-samples{
    text-align: center;
    &-a{
      @extend .dibM;

      &-img{
        height: 50px;
      }
    }
  }

  &-quotes{
    &-a{
      position: relative;
      //padding: 0 0 0 40px;
      padding: 0 0 0 15px;
      border-left: 3px solid #ff1644;
      margin: 30px 0 20px;
      font-size: 18px;
      line-height: 20px;
      //&:before, &:after {
      //  content: '\201C';
      //  color: #ff1644;
      //}
      //&:after {
      //  content: '\201D';
      //}
    }

    &-b{
      @extend .p-quotes-a;
      border-left: initial;
      border-right: 3px solid #00dbb8;
      //padding: 0 40px 0 0;
      padding: 0 15px 0 0;
      text-align: right;
      //&:before, &:after {
      //  color: #00dbb8;
      //}
    }
  }

  &-media{
    &-a{
      width: 50%;
      position: relative;
      margin: 0 auto;
    }
  }

  &-svg{
    &-white{
      fill: white;
    }
    &-pink{
      fill: #ff1644;
    }
  }

  &-tooltip{
    position: relative;
    display: inline-block;
    &-box {
      overflow: hidden;
      background-color: transparent;
      position: absolute;
      z-index: 10;
      bottom: 102%;
      display: none;
      padding: 5px;
      border-radius: 3px;
      color: #fff;
      font-size: 14px;
      font-weight: 100;
      left: 50%;
      transform: translate(-50%,0);


      &:before {
        content: '';
        background-color: rgba(97,97,97,.9);
        border-radius: 250px;
        height: 250px;
        left: 50%;
        margin-left: -(250px/2);
        margin-top: -(250px/2);
        top: 0;
        position: absolute;
        transform: scale(1);
        width: 256px;
        animation: hide .75ms linear;
        z-index: -1;
      }
    }



    &:hover{
      > .p-tooltip-box{
        display: block;
        &:before {
          animation: show .75ms linear;
        }
      }
    }
  }

  &-home{
    &-addEv{
      position: relative;
      align-self: flex-end;
      padding: 0 0 40px;
      &-text{
        font-weight: 100;
        position: absolute;
        top: 29px;
        //top: -29px;
        right: 0;
        //width: 525px;
        font-size: 45px;
        padding: 6px 125px 13px 25px;
        text-align: left;
        background: #2e2e2e;
        color: white;
        margin: 0 10px 0 0;
        letter-spacing: 1.1px;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 40px 0 0 60px;
          border-color: #1c1c1c transparent transparent transparent;
        }
      }
    }

    &-filter{
      display: inline-block;
      margin: 0 auto 20px;
      &-btn{
        width: 100%;
        margin: 10px 0;
        svg{
          width: 35px;
          height: 35px;
        }

        &-img{
          &-obj{
            width: 30px;
            height: 30px;
          }
          &:last-child{
            display: none;
          }
        }

        &.active{
          .p-svg-pink{
            fill: #ffa200;
          }
        }
      }

      &-input{
        position: relative;
        width: 100%;
        padding: 20%;
        svg{
          width: 100%;
          fill: #ff1644;
        }
        &-in{
          position: absolute;
          z-index: -1;
          opacity: 0;
          width: 0;
          right: 0;
          height: 50px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 200ms linear;
          input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 0 15% 0 5%;
            border-bottom: 2px solid #00dbb8;
          }
          button{
            position: absolute;
            right: 0;
            top: 0;
            width: 15%;
            height: 100%;
            padding: 4px;
            img{
              width: 100%;
              transition: all 200ms linear;
            }
          }
        }

        &.open{
          .p-home-filter-input-in{
            z-index: 1;
            opacity: 1;
            width: 300%;
          }
        }
        &.active{
          svg{
            fill: #ffa200;
          }
          button{
            background: #ff1644;
            img{
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    &-mobile{
      &-a{
        display: none;
        position: absolute;
        z-index: 113;
        left: 20px;
        top: 15px;

        width: 44px;
        height: 29px;
        cursor: pointer;
        padding: 0;

        &-item{
          position: relative;
          display: inline-block;
          margin-top: 13.33333333px;

          &:before,
          &:after {
            content: '';
            position: absolute;
            left: 0;
          }

          &:before{
            top: -13.33333333px;
          }
          &:after{
            top: 13.33333333px;
          }
        }

        &-item,
        &-item:before,
        &-item:after {
          background-color: red;
          width: 100%;
          height: 5px;
          transition: all 200ms linear;
        }



        &.active &-item{
          background-color: transparent;
          &:before,
          &:after {
            top: 0;
          }
          &:before {
            transform: rotate(-135deg);
          }
          &:after {
            transform: rotate(135deg);
          }
        }
      }
    }

    &-b{
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      bottom: 0;
      width: 850px;
      height: 100%;
      &-a{
        width: 9%;
        height: 100%;
        text-align: center;
        z-index: 101;
        position: relative;
        transition: all 200ms linear;
        .p-menu-close{
          display: none;
          position: absolute;
          left: 50%;
          top: 25px;
          margin-left: -9px;
        }

        &-event{
          align-self: flex-end;
          position: relative;
        }

        &.active{
          left: 0;
        }
      }
      &-b{
        width: 91%;
        height: 100%;
        padding: 0 175px 0 0;
        overflow-y: scroll;
      }
      &-c{
        position: absolute;
        z-index: 111;
        right: 0;
        bottom: 0;
        padding: 0;
        text-align: center;
        width: 175px;
        overflow: hidden;
        button{
          position: relative;
          z-index: 1;
          margin: 0;
          width: 100%;
          opacity: 0;
          transform: translateY(60px);
          transition: all 50ms linear;

          &:hover{
            background: white;
            color: black;
          }
          &:active{
            transform: scale(0.95) !important;
          }
        }
        &-shadow{
          position: fixed;
          z-index: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: 0 0 0 0 black;
          transition: all 100ms linear;
        }
        &-title{
          position: absolute;
          top: 50%;
          padding: 0 10px;
          color: #fff;
          text-shadow: 2px 2px 7px #000;
          font-size: 20px;
          transform: translate(0, -50%);
          transition: all 100ms linear;
        }

        &:hover{
          .p-home-b-c-shadow{
            box-shadow: 0 0 200px 70px black;
          }
          .p-home-b-c-title{
            transform: translate(100%, -50%);
          }
          button{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }



      &-item{
        width: 100%;
        height: 260px;
        background-size: cover !important;
      }
    }
  }
}
