@media all and (max-width: 1700px) {
  .p{
    &-btn-ev {
      width: 90px;
      height: 90px;
      &-text {
        font-size: 20px;
        line-height: 24px;
        transform: translateY(-53%);
      }
    }

    &-box{
      &-a{
        height: 220px;

        &-def{
          width: 72%;
        }
        &-hov{
          &-c{
            width: 77%;
          }
          &-b {
            top: 70px;
          }
          &-d{
            padding: 15px 0 15px 23%;
          }
        }
        &-user{
          &-ava {
            width: 70px;
            height: 70px;
          }
        }
      }

      &-b, &-c {
        height: 130px;
      }
    }
  }


  .p-home{
    &-b {
      width: 720px;
    }
    &-addEv-text {
      //width: 380px;
      font-size: 30px;
      top: 20px;
    }
    &-filter{
      img{
        height: 25px;
      }
    }
  }
}


@media all and (max-width: 1440px){
  .p{
    &-pop{
      &-wp {
        min-height: 550px;
        margin: 25px auto;

        .p-input-a {
          margin: 15px auto 25px;
        }
      }
    }

    &-file {
      height: 120px;
      &-wp{
        padding: 12px 0 0;
        font-size: 16px;
        line-height: 16px;
        img {
          height: 25px;
          margin: 0 0 5px;
        }
      }
    }
  }
}


@media all and (max-width: 1320px) {
  .p{
    &-home{
      &-addEv-text {
        //width: 360px;
        font-size: 26px;
        top: 26px;
      }

      &-b{
        width: 620px;
        &-b {
          padding: 0 155px 0 0;
        }
        &-c {
          width: 155px;
        }
      }
    }

    &-box{
      height: 230px;
      &-a{
        &-social{
          img{
            width: 35px;
          }
        }
        &-def{
          width: 68%;
          &-title{
            font-size: 22px;
          }
          &-info {
            margin-bottom: 15px;
          }
        }
        &-hov{
          &-c{
            width: 68%;
            bottom: 60px;
            font-size: 22px;
          }

          &-d{
            padding: 15px 0 15px 32%;
            font-size: 18px;
          }
          &-b {
            top: 75px;
            font-size: 26px;
          }
        }
      }
    }
  }
}


@media all and (max-width: 1279px) {
}

@media all and (max-width: 1091px) {
  .p{
    &-inside{
      &-a{
        justify-content: space-around;
      }
    }
    &-block{
      &-a{
        &-info{
          width: 100%;
          max-width: 100%;
          text-align: center;
          padding: 15px 0 0;
          &-a {
            left: 50%;
            transform: translateX(-50%);
          }
          &-b{
            width: 100%;
          }
        }
      }
    }
    &-wp{
      &-a, &-e, &-b {
        width: 100%;
      }
    }

    &-btn{
      &-go,
      &-mail{
        img{
          display: none;
        }
        span {
          opacity: 1;
        }
      }
      &-go{
        left: initial;
        right: 15px;
        top: -55px;
        width: 70px;
        height: 70px;
      }
      &-mail{
        left: initial;
        width: 70px;
        height: 70px;
        top: -55px;
        right: 100px;
        span{
          font-size: 12px;
        }
      }
      &-g {
        left: 5px;
      }
    }


    &-edit-a{
      .p-btn-g{
        opacity: 1;
      }
    }

    &-slider{
      [data-slider-next], [data-slider-prev] {
        opacity: 1;
      }
    }
  }
}

//tablet start//////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1023px) {
  .p{
    background: #ccc;
    &-home{
      &-addEv{
        padding: 0 0 105px;

        &-text {
          display: none;
        }
      }
      &-b{
        width: 100%;
        &-a {
          width: 10%;
          justify-content: space-around;
        }
        &-b {
          width: 90%;
        }
      }

    }

    &-box{
      &-l{
        &-user {
          width: 22%;
        }
        &-mes {
          width: 78%;
        }
      }

      &-a{
        &-def {
          width: 80%;
        }
        &-hov{
          &-d {
            padding: 15px 0 15px 20%;
          }
          &-c {
            width: 80%;
          }
        }
      }

      &-ev {
        width: 60px;
        height: 60px;
        min-width: 60px !important;
        padding: 0 !important;

        &-text {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    &-btn{
      &-close{
        display: block;
      }
    }
  }
}

@media all and (max-width: 840px) {
  .p{
    &-home-addEv{
      position: relative;
      left: initial;
      bottom: initial;
      padding: 0;
    }
    &-box{
      &-l{
        margin-bottom: 30px;
        &-user {
          width: 112px;
          display: block;
          margin: 0 0 10px;
          &-ava-img {
            min-height: 45px;
            min-width: 45px;
          }
        }
        &-mes {
          width: 100%;
        }
      }
      &-a{
        &-def {
          width: 70%;
        }
        &-hov{
          &-d {
            padding: 15px 0 15px 30%;
          }
          &-c {
            width: 70%;
          }
        }
      }
    }

    &-pop{
      &-close {
        right: 0;
        top: -40px;
        padding: 10px;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .p{
    &-menu {
      width: 320px;
    }

    &-pop{
      &-a {
        width: 320px;
        right: 0;
        &.active {
          top: 65px;
        }
      }
      &-wp{
        margin: 0;
        width: 100%;
        &-b, &-c, &-d {
          width: 100%;
        }
        &-b {
          padding: 20px 10px;
        }
      }
      .ph50, .ph100, .ph40, .ph60 {
        padding-left: 20px;
        padding-right: 20px;
      }

      .p-radio-a-text{
        display: inline;
      }

      &-footer{
        .p-btn-d, .p-btn-d-a, .p-btn-d-b {
          font-size: 18px;
        }
      }
    }

    &-header{
      &-menu {
        top: 15px;
      }
      &-logo{
        width: 150px;
        top: 50px;
        img{
          width: 100%;
        }
      }
    }

    &-btn{
      &-ev{
        min-width: 70px !important;
        width: 70px;
        height: 70px;
        padding: 0 !important;

        img{
          width: 35px;
        }

        &-text {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    &-home{
      &-b{
        padding: 65px 10px 0;
        &-b{
          width: 100%;
          padding: 0;
        }
        &-a{
          position: absolute;
          //overflow-y: scroll;
          left: -100px;
          z-index: 112;
          top: 0;
          padding: 65px 0 0;
          width: 80px;
          background: #262626;

          .p-menu-close{
            display: block;
          }
        }
        &-c{
          display: none;
          //width: 100%;
          //&-shadow {
          //  box-shadow: 0 0 200px 70px #000;
          //}
          //&-title{
          //  width: 100%;
          //  position: absolute;
          //  z-index: 1;
          //  top: initial;
          //  bottom: 10px;
          //}
          //button {
          //  width: 49%;
          //}
        }
      }

      &-mobile-a{
        display: block;
      }

      &-addEv {
        position: fixed;
        right: 15px;
        left: initial;
        bottom: 15px;
        padding: 0;
      }
    }

    &-box{

      &-a{
        height: 200px;
        &-social{
          display: none;
        }

        &-user{
          left: 5px;
          bottom: 10px;
          &-ava {
            width: 50px;
            height: 50px;
          }
        }

        &-def {
          width: 77%;
        }
        &-hov{
          &-d {
            padding: 10px 0 10px 23%;
          }
          &-c {
            width: 77%;
            bottom: 45px;
          }
          &-b {
            font-size: 20px;
          }
        }
      }

      &-d{
        margin: 15px 0 0;
        width: 300px;
        justify-content: flex-start;
        &-info{
          text-align: center;
          width: 100%;
        }
        &-user{
          padding: 0 10px 0 0;
        }
      }

      &-e, &-f {
        width: 100%;
      }
      &-e {
        margin: 0 0 10px;
      }
      &-f{
        &-broad{
          width: 100%;
          margin: 20px 0;
        }
      }
    }

    &-btn{
      &-h {
        width: 35px;
        height: 35px;
      }
    }

    &-block{
      &-a{
        &-info-b {
          font-size: 30px;
          margin: 0 0 10px;
        }
      }
    }

    &-inside{
      text-align: center;
      &-b{
        .p-box-d{
          &-user{
            margin: 0 auto 5px;
            padding: 0;
          }
        }
      }
    }

    &-mob{
      &-hide{
        display: none;
      }

      &-btns{
        .w33p{
          width: 100%;
          &:first-child{
            order: 2;
          }
        }
      }

      &-radio{
        justify-content: space-around;
        md-radio-button {
          width: 100%;
          margin: 7px 0 !important;
        }
      }
    }

    &-upload-in-title{
      padding: 0 20px;
    }

    &-around-me{
      position: absolute !important;
      z-index: 110 !important;
      left: 10px !important;
      bottom: 10px !important;
    }
  }

  .z{
    &-pop{
      &-a, &-b, &-c {
        width: 100%;
      }
    }
  }
}


