//google map//////////////////////////////////////////////////////////////
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
.gm-bundled-control .gmnoprint {
  display: block;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}


//https://github.com/leongersen/noUiSlider///////////////////////////////////////////////////////////////
@import "~nouislider/distribute/nouislider.min.css";
.noUi-vertical{
  .noUi-handle{
    background: #b3bcd0;
    width: 44px;
    height: 44px;
    left: -16px;
    top: -22px;
    box-shadow: none;
    border-radius: 50%;
    border: none;

    &:after, &:before{
      display: none;
    }
  }
}

.green, .red, .yellow{
  .noUi{
    &-connect{
      background: #00dbb8;
    }
    &-horizontal {
      height: 10px;
      border: none;
      box-shadow: none;
      background: #e8e8e8;
      border-radius: 0;
    }
    &-handle {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      left: -11px;
      top: -8px;
      background: #00dbb8;
      box-shadow: none;
      border: none;
      cursor: pointer;
      &:after, &:before{
        display: none;
      }
    }
    &-tooltip {
      bottom: -15px;
      background: transparent;
      border: none;
      color: #00dbb8;
      padding: 0;
      font-size: 13px;
      font-weight: 700;
    }
  }
}
.red{
  .noUi{
    &-connect{
      background: #ff1644;
    }
    &-handle {
      background: #ff1644;
    }
    &-tooltip {
      color: #ff1644;
      white-space: nowrap;
    }
  }
}
.yellow{
  .noUi{
    &-connect{
      background: #ffa200;
    }
    &-handle {
      background: #ffa200;
    }
    &-tooltip {
      color: #ffa200;
    }
  }
}

////////////////////////////////////////////////////////////////
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.cdk{
  &-overlay{
    &-backdrop{
      position: fixed !important;
    }

    &-container {
      //overflow-y: scroll;
      max-width: 100%;
      height: 100%;
    }
  }

  &-global{
    &-scrollblock {
      //overflow-y: hidden;
    }

    //&-overlay{
    //
    //  &-wrapper{
    //    align-items: flex-start !important;
    //    overflow-y: scroll;
    //  }
    //}
  }
}

.mat {
  &-focused{
    .mat{
      &-input{
        &-ripple {
          background-color: #00dbb8;
        }
        &-placeholder {
          color: #00dbb8;
        }
      }
    }
  }

  &-dialog{
    &-container{
      padding: 0 !important;
      max-width: 100vw !important;
      min-width: 300px !important;
    }

    &-content{
      padding: 0 !important;
      margin: 0 !important;
      max-height: 100vh !important;
      overflow: hidden !important;
      overflow-y: auto !important;
    }
  }

  &-input{
    &-underline{
      .mat-input-ripple {
        background-color: #00dbb8;
      }
    }

    &-element{
      resize: vertical;
    }

    &-invalid{
      .mat{
        &-input{
          &-ripple {
            background-color: #ff1644;
          }
          &-placeholder{
            color: #ff1644;
          }
        }
      }
    }
  }

  &-select{
    &-trigger {
      height: 26px !important;
    }

    &:focus:not(.mat-select-disabled).mat-primary .mat-select{
      &-trigger, &-arrow {
        color: #00dbb8 !important;
      }
      &-underline{
        background-color: #00dbb8 !important;
      }
    }


    &.ng-touched.ng-invalid{
      .mat-select{
        &-trigger, &-arrow {
          color: #ff1644 !important;
        }
        &-underline{
          background-color: #ff1644 !important;
          height: 2px !important;
        }
      }
    }
  }

  &-primary{
    .mat-option.mat-selected {
      color: #00dbb8 !important;
    }
  }

  &-radio{
    &-label{
      width: 100%;
      &-content{
        width: 100%;
      }
    }
  }

  &-progress{
    &-bar{
      &.mat-warn{
        .mat-progress-bar-buffer {
          background-color: transparent;
        }
      }
    }
  }

  &-ink-bar {
    background-color: #00dbb8;
  }

  &-sidenav-container{
    background: none !important;
  }

  &-menu-content{
    padding: 0 !important;
  }
}

.z{
  &-in{
    &-a{
      width: 100%;

      .mat{
        &-input{
          &-wrapper{
            margin: 0;
            padding-bottom: 0;
          }

          &-element {
            padding: 13px;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
.md2{
  &-datepicker-placeholder {
    text-align: left;
    transition: all 200ms linear !important;
  }


  &-toast {
    background: #ff1644 !important;
  }

  &-autocomplete-trigger svg {
    background: none !important;
  }
}

md2-datepicker{
  .md2-datepicker-input{
    &-focused {
      color: #00dbb8 !important;
      border-color: #00dbb8 !important;
      .md2-datepicker-arrow{
        color: #00dbb8 !important;
      }
    }
  }


  &.z-data{
    .md2-datepicker{
      &-trigger {
        padding: 18px 0 0 0;
      }
      &-button{
        display: none;
      }
    }
  }


  &.ng-invalid{
    .md2-datepicker-input{
      &-focused {
        color: #ff1644;
        border-color: #ff1644;
      }
    }
  }
}

////////////////////////////////////////////////////////////////
@import "~intro.js/minified/introjs.min.css";
@import "~intro.js/themes/introjs-flattener.css";

.introjs{
  &-hint {
    width: 25px;
    height: 25px;

    &-dot {
      top: -18px;
      left: -17px;
      border: 30px solid #00DBB8;
    }

    &-pulse {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid rgba(0, 219, 184, 0.7);
      background-color: rgba(0, 219, 184, 0.7);
    }

    &:hover>.introjs-hint-pulse {
      border: 12px solid #00DBB8;
    }
  }

  &-helperLayer {
    background-color: rgb(120, 120, 120);
  }
}
















@media all and (max-width: 640px) {
  .cdk-overlay-pane {
    margin: 0 auto !important;
  }
}


