<md-dialog-content>
  <div *ngIf="participation" class="p-pop-wp-d bg9">
    <div class="p-box-i">
      <div class="p-box-a">
        <div class="p-box-a-bg">
          <span [ngStyle]="{'background': 'url(' + event.image + ') center no-repeat'}"></span>
        </div>


        <div class="p-box-a-hov">
          <div class="p-box-a-hov-a">
            <app-options [inputOptions]="event.options" [disableToggle]="true"></app-options>
          </div>

          <div class="p-box-a-hov-b">
            {{event.title}}
          </div>

          <div class="p-box-a-hov-c">
            <span>Hosted by</span>
            {{event.username}}
          </div>

          <div class="p-box-a-hov-d">
            <img class="dibT mr10" src="../assets/i/icons/cal.png" alt="">
            {{event.start_date | date: 'MMM'}} {{event.start_date | date: 'd'}}
            <img class="dibT mh10" src="../assets/i/icons/clock-a.png" alt="">
            {{event.start_date | date: 'H:mm'}}
            <img class="dibT mh10" src="../assets/i/icons/mark.png" alt="">
            {{event.city_country}}
          </div>
        </div>


        <div class="p-box-a-user">
          <span [ngStyle]="{'background': 'url(' + (event.user_picture || '../assets/i/icons/user.png') + ') center no-repeat'}" class="p-box-a-user-ava"></span>
          <span *ngIf="O4PUser.user.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
          <span *ngIf="O4PUser.user.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
        </div>


        <!--<div class="p-box-a-entrance">-->
          <!--{{participation.payment_details.total_amount || 0 | number: '1.2-2'}} &#8364;-->
          <!--<span>{{ 'entrance' | translate }}</span>-->
        <!--</div>-->
      </div>
    </div>




    <div *ngIf="tab == 1" class="p-box-j p-box-j-bg-a">
      <div *ngIf="event.condition === 'price'" class="wp-btw">
        <div></div>
        <div class="p-wp-f">
          <div class="wp-btw_cen">
            <span class="w50p tar fsz17">{{ 'event_price' | translate }}</span>
            <span class="w50p tar fsz20">{{participation.payment_details.total_amount || 0 | number: '1.2-2'}} &#8364;</span>
          </div>
          <div class="wp-btw_cen">
            <span class="w50p tar fsz17">{{ 'o4p_fees' | translate }}</span>
            <span class="w50p tar fsz20">{{participation.payment_details.o4p_fees || 0 | number: '1.2-2'}} &#8364;</span>
          </div>

          <hr class="p-hr-a mv15"/>

          <div class="wp-btw_cen mt20 mb10">
            <span class="w50p tar fsz17">{{ 'total_amount' | translate }}</span>
            <span class="w50p tar fsz20">{{participation.payment_details.total_amount || 0 | number: '1.2-2'}} &#8364;</span>
          </div>
          <!--<div class="wp-btw_cen mb10">-->
            <!--<span class="w50p tar fsz17">{{ 'from_my_wallet' | translate }}</span>-->
            <!--<span class="w50p tar fsz20">{{participation.payment_details.from_wallet || 0 | number: '1.2-2'}} &#8364;</span>-->
          <!--</div>-->
          <!--<div class="wp-btw_cen">-->
            <!--<span class="w50p tar fsz17">{{ 'to_be_paid' | translate }}</span>-->
            <!--<span class="w50p tar fsz25 fw700">{{participation.payment_details.to_be_paid || 0 | number: '1.2-2'}} &#8364;</span>-->
          <!--</div>-->
        </div>
      </div>


      <div *ngIf="event.condition === 'list'">
        <h2 class="tac fsz17">{{ 'what_will_you_bring' | translate }}</h2>

        <hr class="p-hr-a mv15"/>

        <div *ngFor="let row of event.items" class="wp-btw_cen">
          <span class="flet dibM w33p wsn">{{row.label}}</span>
          <span class="dibM w33p">
            <md-input-container class="dibM mh15" style="width: 70px;">
                <input
                  [(ngModel)]="row.going_quantity"
                  placeholder="{{'quantity' | translate}}"
                  name="item-{{index}}"
                  mdInput
                  type="number"
                  min="0"
                  step="1">
            </md-input-container>
            <span class="flet dibM">{{row.unit}}</span>
        </span>
          <span class="dibM w33p tac">
            {{'needed' | translate}}: {{row.needed}}
        </span>
        </div>
      </div>


      <div *ngIf="event.condition === 'byos'" class="tac fsz17">
        {{ 'bring_your_own_stuff' | translate }}
        <hr class="p-hr-a mv15"/>
      </div>


      <div *ngIf="event.condition === 'free'" class="tac fsz17">
        {{ 'this_event_is_totally_free' | translate }}
        <hr class="p-hr-a mv15"/>
      </div>
    </div>

    <div *ngIf="tab == 2" class="p-box-j p-box-j-bg-b">
      <div *ngIf="participation.payment_details.charge_wallet" class="wp-btw">
        <div class="w50p">
          <div class="fsz14 mt25">
            {{ 'looks_like_your_wallet_is_empty' | translate }}
            <span
              mdTooltip="{{'this_amount_will_be_added_from' | translate}}"
              [mdTooltipPosition]="'above'"
              class="p-btn-ques ml10 dibBa">?</span>
          </div>

          <md-input-container class="w100p">
            <input [(ngModel)]="appPpcobtn_val"
                   #charge="ngModel"
                   name="charge"
                   type="number"
                   (keyup)="calcAmountPpfees()"
                   (focus)="calcAmountPpfees()"
                   min="{{participation.payment_details.total_amount - O4PUser.user.wallet}}"
                   required
                   mdInput
                   placeholder="{{'charge_your_wallet' | translate }}">
            <span class="z-in-err" *ngIf="charge.errors && (charge.dirty || charge.touched)">{{ 'minimum_charge_is' | translate }} {{participation.payment_details.total_amount - O4PUser.user.wallet}}€</span>
            <span class="z-in-success" *ngIf="!charge.errors">
              {{ 'amount_including_paypal_fees' | translate }}
              : {{amount_including_Ppfees}}€</span>
          </md-input-container>

          <div [ngClass]="{inactive: !charge}" *ngIf="appPpcobtn" [appPpcobtn]="{amount: amount_including_Ppfees, custom: appPpcobtn.custom, parameters: appPpcobtn.parameters}" (onCharge)="chargeSuccess($event)" class="mt15"></div>
        </div>

        <div class="pl20 pb20 w50p">
          <img src="../assets/i/icons/pp.gif" alt="" class="w100p">
        </div>
      </div>

      <div *ngIf="!participation.payment_details.charge_wallet">
        <h2 class="tac fsz17">{{'your_wallet_will_be_debited_of' | translate}} {{participation.payment_details.total_amount}}€</h2>

        <hr class="p-hr-a mv15"/>
      </div>
    </div>

    <div *ngIf="tab == 3" class="p-box-j p-box-j-bg-d">
      <div class="fsz16 mb15">
        <span *ngIf="event.event_type == 'validation'">
          {{ 'youre_registered_to' | translate }}
          {{event.title}}
          {{ 'the_organizer_will_review_your_participation' | translate }}!
        </span>

        <span *ngIf="event.event_type != 'validation'">
          {{ 'youre_going_to' | translate }}
          {{event.title}}
          {{ 'congratulations' | translate }}!
        </span>
      </div>

      <div class="w100p">
        <h2 class="c1 fw700 ttu fsz16 mb5 tac">
          <span class="dibM">{{ 'invite_more_people' | translate }}</span>

          <span
            mdTooltip="{{'enter_an_email_address_and_press_enter' | translate}}"
            [mdTooltipPosition]="'above'"
            class="p-btn-ques ml10 dibM">?<span class="p-tooltip-box"></span>
            </span>
        </h2>

        <app-invite-user (onUser)="onUser($event)"></app-invite-user>
      </div>
    </div>


    <div class="p-pop-footer">
      <div class="w33p">
        <button md-button *ngIf="tab == 2" (click)="setTab(1)" class="p-btn-d-a w100p">{{ 'go_back' | translate }}</button>
        <button md-button *ngIf="tab == 3" (click)="closePop()" class="p-btn-d-a w100p">{{ 'close' | translate }}</button>
      </div>
      <div class="w33p relative">
        <button *ngIf="tab != 3" class="p-btn-d w100p trn">
          {{ 'step' | translate }}
          {{tab}}
          {{ 'of' | translate }}
          {{3 - skipSStep}}
        </button>
        <button md-button *ngIf="tab == 3" (click)="sendInvitations()" class="p-btn-d-b w100p fw700 pall15" style="max-height: 56px">
          {{'invite_all' | translate}}
        </button>
      </div>
      <div class="w33p relative">
        <button md-button *ngIf="tab == 1" (click)="setTab(2 + skipSStep)" [ngClass]="{inactive: checkFStep()}" class="p-btn-d-b w100p inactive">
          {{ 'continue' | translate }}
        </button>
        <button md-button *ngIf="tab == 2" (click)="setTab(3)" [ngClass]="{inactive: participation.payment_details.charge_wallet}" class="p-btn-d-b w100p inactive">{{ 'participate' | translate }}</button>
        <button
          md-button
          *ngIf="tab == 3"
          mdTooltip="{{'let_people_know_youre_going' | translate}}"
          [mdTooltipPosition]="'above'"
          (appShare)="onClick($event)" [share]="{type: 'fb', event: event}"
          class="p-btn-d-b w100p bg10 brrn"
          style="max-height: 56px">
          <img class="p-btn-d-b-svg" src="../assets/i/svg/fb.svg" alt=""/>
          <span class="dibM ttn fsz26">{{ 'share' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</md-dialog-content>





