<h2 class="ttu c1 fsz16 mb15">{{ 'leave_a_comment' | translate }}</h2>


<div *ngFor="let item of comments" class="p-box-l">
  <a [routerLink]="['/user', item.user_secure_id]" class="p-box-l-user">
    <div class="p-box-l-user-ava">
      <span [ngStyle]="{'background': 'url(' + (item.user_picture || '../assets/i/icons/user.png') + ') 50% 50% no-repeat'}" class="p-box-l-user-ava-img"></span>

      <span *ngIf="item.account_type == 'lifetime_premium'" class="p-box-d-user-king-a"><img src="../assets/i/icons/king.png" alt=""></span>
      <span *ngIf="item.account_type == 'premium'" class="p-box-d-user-king"><img src="../assets/i/icons/king.png" alt=""></span>
    </div>
    <div class="p-box-l-user-name">
      <span class="c6 fsz14 fw700" mdTooltip="{{item.username | translate}}" [mdTooltipPosition]="'above'">{{item.username}}</span>
    </div>
  </a>

  <div class="p-box-l-mes">
    <div class="fsz12 c1 mb5">{{item.creation_date | date: 'dd/MM/yyyy HH:mm'}}</div>
    {{item.content || ''}}
  </div>

  <div class="p-box-h-func">
    <button (click)="removeComment(item, can_comment)" mdTooltip="{{'remove_comment' | translate}}" [mdTooltipPosition]="'above'" class="p-box-h-close"></button>
  </div>
</div>


<div class="p-input-d">
  <form [ngClass]="{inactive: !can_comment}" (submit)="addComment(comment.val)" class="z-in-wp-a">
    <md-input-container>
      <input [(ngModel)]="comment.val" name="comment" mdInput placeholder="{{ (can_comment ? 'leave_a_comment' : 'you_need_to_be_a_participant_to_comment') | translate }}" type="text">
    </md-input-container>
    <button [ngClass]="{inactive: !comment.val}" type="submit" class="z-in-send"><img src="../assets/i/icons/send.png" alt=""></button>
  </form>
</div>
