<md-dialog-content>
  <div class="z-pop-a">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <h2 class="fsz18 c2 fw700 mb20 tac">{{ 'how_much_do_you_want' | translate }}</h2>
    <form [formGroup]="form" class="fsz16 c6 mb25 p-edit nm">
      <md-input-container class="w100p mb10">
        <input formControlName="num" mdInput placeholder="{{'enter_number' | translate }}" type="number">
        <span class="z-in-err" *ngIf="form.controls.num.invalid && form.controls.num.touched">{{ 'this_is_required' | translate }}</span>
      </md-input-container>

      <div [ngClass]="{inactive: form.controls.num.invalid}" [appPpcobtn]="{amount: form.controls.num.value, custom: appPpcobtn.custom, parameters: appPpcobtn.parameters}" (onCharge)="chargeSuccess($event)" class="tac inactive"></div>
    </form>
  </div>
</md-dialog-content>
