<md-dialog-content>
  <form #f="ngForm" (ngSubmit)="createEventFunc(f)" class="p-pop-wp">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>


    <app-upload [file]="file" (onFile)="onFileChange($event)"></app-upload>


    <div class="wp-btw ph80">
      <div class="p-samples">
        <h2 class="ttu fsz16 c2 mv10">{{ 'or_pick_one_from_the_gallery' | translate }}</h2>
        <div *ngFor="let item of newEvent.samples" class="p-samples-a">
          <a (click)="setDefImg(item)" class="mh5"><img
            [src]="item.uri" class="p-samples-a-img" alt=""/></a>
        </div>
      </div>

      <div>
        <h2 class="tac ttu fsz16 c2 mv10">
          {{ 'event_nature' | translate }}
        </h2>

        <div class="wp-btw_arnd tac">
          <app-event-nature [initValue]="newEvent.event_nature" (onSet)="onNatureSet($event)"></app-event-nature>
        </div>
      </div>
    </div>


    <div class="db ph100 mt10 fsz20">
      <md-input-container class="w100p">
        <input [(ngModel)]="newEvent.title" #title="ngModel" name="title" required mdInput placeholder="{{'event_title' | translate }}" type="text">

        <span class="z-in-err" *ngIf="title.errors && (title.dirty || title.touched)">
              {{ 'this_is_required' | translate }}
            </span>
      </md-input-container>
    </div>


    <div *ngIf="tab == 1" class="ph40 mb90">


      <h2 class="tac ttu fsz16 c2 mt10 mb25">{{ 'what_do_you_want_people_to' | translate }}</h2>

      <md-radio-group [(ngModel)]="newEvent.condition.value" (change)="checkFStep()" name="condition" class="w100p">
        <md-radio-button
          [value]="'price'"
          class="w100p pv5">
          {{ 'pay_a_share' | translate }}
          <span [ngClass]="{inactive: !(newEvent.condition.value == 'price')}">
            <label class="p-input-b ml65">
              <input [(ngModel)]="newEvent.condition.price" (keyup)="checkFStep()" name="price" class="p-input-b-in" type="text">
            </label>
            &#8364;
          </span>
        </md-radio-button>


        <md-radio-button
          [value]="'byos'"
          class="w100p pv10">
          {{ 'bring_your_own_stuff' | translate }}
        </md-radio-button>


        <md-radio-button
          [value]="'list'"
          class="w100p pv10">
          {{ 'every_one_brings_something_from_a' | translate }}


          <div *ngIf="newEvent.condition.value == 'list'" class="pt15">
            <div *ngFor="let row of newEvent.condition.list; let index = index;" class="wp-btw_cen">
              <md-input-container class="z-box-b-a">
                <input
                  placeholder="{{'item' | translate}}"
                  [(ngModel)]="row.item"
                  name="item-{{index}}"
                  (keydown)="checkFStep()"
                  type="text"
                  mdInput
                  required>

                <div *ngIf="!row.item" class="z-in-err">
                  {{ 'this_is_required' | translate }}
                </div>
              </md-input-container>

              <div class="z-box-b-b">
                <md-select
                  placeholder="{{ 'unit' | translate }}"
                  [(ngModel)]="row.unit"
                  (keydown)="checkFStep()"
                  name="unit-{{index}}"
                  required
                  class="w100p">
                  <md-option value="Piece">{{'piece' | translate}}</md-option>
                  <md-option value="KG">{{'kg' | translate}}</md-option>
                  <md-option value="Litre">{{'litre' | translate}}</md-option>
                </md-select>

                <div *ngIf="!row.unit" class="z-in-err-select">
                  {{ 'this_is_required' | translate }}
                </div>
              </div>


              <md-input-container class="z-box-b-c">
                <input
                  placeholder="{{ 'quantity' | translate }}"
                  [(ngModel)]="row.quantity"
                  (keydown)="checkFStep()"
                  name="quantity-{{index}}"
                  type="text"
                  pattern="\d*"
                  maxlength="5"
                  mdInput
                  required>

                <div *ngIf="!row.quantity" class="z-in-err">
                  {{ 'this_is_required' | translate }}
                </div>
              </md-input-container>


              <button
                (click)="removeListRow(index)"
                *ngIf="index != 0"
                type="button"
                class="p-btn-o z-box-b-d">
                <img src="assets/i/icons/close_btn.png" style="width: 30px;" alt=""/>
              </button>
            </div>

            <div *ngIf="!!newEvent.condition.list[0].item && !!newEvent.condition.list[0].unit" class="w100p tac ье20">
              <button md-button type="button" (click)="addListRow()" class="md-raised">{{'add_one_more_item' | translate}}</button>
            </div>
          </div>
        </md-radio-button>


        <md-radio-button
          [value]="'free'"
          class="w100p pv10">
          {{ 'ill_take_care_of_it_free' | translate }}
        </md-radio-button>
      </md-radio-group>
    </div>


    <div *ngIf="tab == 2" class="ph40 mb90">
      <h2 class="tac ttu fsz16 c2 mt10 mb25">{{ 'are_there_any_other_limitations_for_the' | translate }}</h2>


      <md-radio-group [(ngModel)]="newEvent.limitations.value" name="limitations" class="w100p">
        <md-radio-button
          [value]="'o4p'"
          class="w100p pv5">
          <span class="dibBa">{{ 'no_it_is_a_full_o4p' | translate }}</span>
          <span
            mdTooltip="{{'if_you_create_a_full_open4partiz_you' | translate}}"
            [mdTooltipPosition]="'above'"
            class="p-btn-ques ml10 dibBa">?</span>
        </md-radio-button>

        <md-radio-button
          [value]="'limitations'"
          class="w100p pv5">
          <span
            mdTooltip="{{'age_range_gender_of_people_etc' | translate}}"
            [mdTooltipPosition]="'above'">
            {{ 'yes_id_like_to_specialty_some_limitations' | translate }}
          </span>
        </md-radio-button>
      </md-radio-group>


      <div [ngClass]="{inactive: newEvent.limitations.value == 'o4p'}" class="ph60 mb100">
        <div class="mv15">
          <h2 class="c10 tac ttu fsz12 mb10">
            {{ 'i_want_to_validate_attendees' | translate }}
          </h2>
          <md-radio-group [(ngModel)]="newEvent.limitations.invitation" name="invitation" class="wp-btw p-mob-radio w100p">
            <md-radio-button
              mdTooltip="{{'anyone_can_participate' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'public'" class="dibM mn">
              {{ 'public' | translate }}
            </md-radio-button>

            <md-radio-button
              mdTooltip="{{'the_event_will_be_public_but_you' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'validation'" class="dibM mn">
              {{ 'on_validation' | translate }}
            </md-radio-button>

            <md-radio-button
              mdTooltip="{{'only_persons_logged_in_and_received' | translate}}"
              [mdTooltipPosition]="'above'"
              [value]="'invitation'" class="dibM mn">
              {{ 'on_invitation' | translate }}
            </md-radio-button>
          </md-radio-group>
        </div>

        <app-crowd-slider [filter]="newEvent.limitations.crowd" (onSlide)="crowdChange($event)"></app-crowd-slider>

        <app-gender-slider [filter]="newEvent.limitations.gender" (onSlide)="genderChange($event)"></app-gender-slider>

        <app-age-slider [filter]="newEvent.limitations.age" (onSlide)="ageChange($event)"></app-age-slider>
      </div>
    </div>


    <div *ngIf="tab == 3" class="ph40 mb90">
      <h2 class="tac ttu fsz16 c2 mt10">{{ 'event_details' | translate }}</h2>


      <md-input-container class="w100p">
        <input
          placeholder="{{'address' | translate }}"
          [(ngModel)]="newEvent.details.address.val"
          (place)="setPlace($event)"
          appGoogleplace
          name="address"
          #address="ngModel"
          required
          mdInput
          type="text">

        <span *ngIf="address.errors && (address.dirty || address.touched)" class="z-in-err">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <div class="wp-arnd_cen mb30 tac">
        <div class="relative w50p">
          <md2-datepicker name="dateTimeStart"
                          placeholder="{{ 'start_time' | translate}}"
                          [(ngModel)]="newEvent.details.startDate"
                          [min]="minStartDate"
                          [ngClass]="{'ng-touched': dateTimeStart.errors ? dateTimeStart.errors.dirty : false}"
                          [required]="true"
                          [openOnFocus]="true"
                          [type]="'datetime'"
                          [format]="'M/d/y HH:mm'"
                          #dateTimeStart="ngModel">
          </md2-datepicker>
          <span *ngIf="dateTimeStart.errors && (dateTimeStart.dirty || dateTimeStart.touched)" class="z-in-err-date">{{ 'this_is_required' | translate }}</span>
        </div>


        <div class="relative w50p">
          <md2-datepicker name="dateTimeEnd"
                          placeholder="{{ 'end_date' | translate }}"
                          [(ngModel)]="newEvent.details.endDate"
                          [min]="newEvent.details.startDate"
                          [required]="false"
                          [openOnFocus]="true"
                          [type]="'datetime'"
                          [format]="'M/d/y HH:mm'">
          </md2-datepicker>
        </div>
      </div>


      <md-input-container class="w100p mt20">
        <textarea
          [(ngModel)]="newEvent.details.description"
          placeholder="{{ 'description' | translate }}"
          name="description"
          #description="ngModel"
          [mdAutosizeMinRows]="10"
          md-maxlength="1500"
          mdTextareaAutosize
          mdInput
          required></textarea>
        <span *ngIf="description.errors && (description.dirty || description.touched)" class="z-in-err">{{ 'this_is_required' | translate }}</span>
      </md-input-container>


      <h2 class="ttu fsz16 c2 mt30 mb25">{{ 'event_conditions' | translate }}</h2>

      <app-options (onOption)="onOption($event)"></app-options>
    </div>


    <div class="p-pop-footer">
      <div class="w33p relative">
        <button md-button type="button" *ngIf="tab == 2" (click)="setTab(1)" class="p-btn-d-a w100p">{{ 'go_back' |
          translate }}
        </button>
        <button md-button type="button" *ngIf="tab == 3" (click)="setTab(2)" class="p-btn-d-a w100p">{{ 'go_back' |
          translate }}
        </button>
      </div>
      <div class="w33p relative">
        <button type="button" class="p-btn-d w100p">{{ 'step' | translate }} {{tab}} {{ 'of' | translate }} 3
        </button>
      </div>
      <div class="w33p relative">
        <button md-button type="button" [ngClass]="{inactive: firstStepValid}" *ngIf="tab == 1" (click)="setTab(2)"
                class="p-btn-d-b w100p">{{ 'keep_going' | translate }}
        </button>
        <button md-button type="button" *ngIf="tab == 2" (click)="setTab(3)" class="p-btn-d-b w100p">{{ 'keep_going'
          | translate }}
        </button>
        <button md-button type="submit" *ngIf="tab == 3" class="p-btn-d-b w100p">{{ 'create_event' | translate }}
        </button>
      </div>
    </div>
  </form>
</md-dialog-content>




