<div class="p-upload">
  <div class="p-upload-box" (dragover)="allowDrop($event)" (drop)="onFileDrop($event)" [ngClass]="{active: allowFileDrop}">
    <label class="p-upload-in">
      <input *ngIf="!isMultiple" class="dn" type="file" name="file" (change)="onFileChange($event)">
      <input *ngIf="isMultiple" class="dn" type="file" name="file" (change)="onFileChange($event)" multiple>

      <span class="p-upload-in-title">{{ 'drag_and_drop_a_file_here_or_click' | translate }}</span>
    </label>

    <div *ngIf="file.arr[0]" class="wp-arnd_cen">
      <div
        *ngFor="let item of file.arr; let index = index;"
        (click)="file.arr.splice(index, 1)"
        [ngClass]="{'big': !isMultiple}"
        class="p-upload-box-item anim-e">
        <img [src]="item.file ? item.file.type == 'video/mp4' ? '../assets/i/icons/media.png' : item.img : item.img">
      </div>
    </div>
  </div>
</div>
