<md-dialog-content class="h100p">
  <div class="relative">
    <button type="button" class="p-btn-close" md-dialog-close [inlineSVG]="'../assets/i/svg/close.svg'"></button>

    <div id="live" class="w100p h100p dibM"></div>
  </div>
</md-dialog-content>
